@media (min-width: 500px) and (max-width: 600px) {
    .tamizaje {
        margin: 30px auto;
        width: 90%;
    }

    .bienvenida h2,
    .no-disponible h2 {
        font-size: 12px;
    }

    .bienvenida p,
    .no-disponible p {
        text-align: justify;
        font-size: 12px;
    }

    .tamizaje-terminado  p {
        text-align: center;
        font-size: 11px;
    }

    .bienvenida button,
    .no-disponible button,
    .tamizaje-terminado  button {
        font-size: 10px;
    }

    .titulo-pregunta {
        font-size: 10px;
    }

    .instrucciones {
        font-size: 10px;
    }

    .botones-tamizaje button {
        font-size: 10px;
    }

    .tamizaje table {
        font-size: 10px;
    }

    .bienvenida {
        width: 400px;
        height: 400px;
    }

    .no-disponible,
    .tamizaje-terminado  {
        width: 400px;
        height: 200px;
    }

    .radio {
        width: 90px;
    }

    .profesor {
        font-size: 7px;
    }
    .botones-tamizaje button {
        text-align: center;
        width: 100%;
        margin: 5px 0px 5px 0px;
        padding: 10px;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
        .tamizaje {
        margin: 20px auto;
        width: 95%;
    }

    .bienvenida h2,
    .no-disponible h2 {
        font-size: 11px;
    }

    .bienvenida p,
    .no-disponible p {
        text-align: justify;
        font-size: 11px;
    }

    .tamizaje-terminado  p {
        text-align: center;
        font-size: 10px;
    }

    .bienvenida button,
    .no-disponible button,
    .tamizaje-terminado  button {
        font-size: 9px;
    }

    .titulo-pregunta {
        font-size: 9px;
    }

    .instrucciones {
        font-size: 9px;
        margin: 15px 0px;
    }

    .botones-tamizaje button {
        font-size: 9px;
    }

    .tamizaje table {
        font-size: 9px;
    }

    .bienvenida {
        width: 370px;
        height: 370px;
    }

    .no-disponible,
    .tamizaje-terminado  {
        width: 370px;
        height: 170px;
    }

    .radio {
        width: 80px;
    }

    .profesor {
        font-size: 6px;
    }
    .botones-tamizaje button {
        text-align: center;
        width: 100%;
        margin: 5px 0px 5px 0px;
        padding: 10px;
    }
}

@media (min-width: 350px) and (max-width: 400px) {
    .tamizaje {
        margin: 15px auto;
        width: 95%;
    }

    .bienvenida h2,
    .no-disponible h2 {
        font-size: 12px;
    }

    .bienvenida p,
    .no-disponible p {
        text-align: justify;
        font-size: 12px;
    }

    .tamizaje-terminado  p {
        text-align: center;
        font-size: 11px;
    }

    .bienvenida button,
    .no-disponible button,
    .tamizaje-terminado  button {
        font-size: 10px;
    }

    .titulo-pregunta {
        font-size: 9px;
    }

    .instrucciones {
        font-size: 9px;
        margin: 10px 0px;
    }

    .botones-tamizaje button {
        font-size: 9px;
    }

    .tamizaje table {
        font-size: 8px;
    }

    .tamizaje td {
        height: 60px;      
      }

    .bienvenida {
        width: 330px;
        height: 330px;
    }

    .no-disponible,
    .tamizaje-terminado  {
        width: 330px;
        height: 160px;
    }

    .radio {
        width: 70px;
    }

    .profesor {
        font-size: 6px;
    }
    .botones-tamizaje button {
        text-align: center;
        width: 100%;
        margin: 5px 0px 5px 0px;
        padding: 10px;
    }
}

@media (min-width: 300px) and (max-width: 350px) {
    .tamizaje {
        margin: 15px auto;
        width: 97%;
    }

    .bienvenida h2,
    .no-disponible h2 {
        font-size: 11px;
    }

    .bienvenida p,
    .no-disponible p {
        text-align: justify;
        font-size: 11px;
    }

    .tamizaje-terminado  p {
        text-align: center;
        font-size: 10px;
    }

    .bienvenida button,
    .no-disponible button,
    .tamizaje-terminado  button {
        font-size: 9px;
    }

    .titulo-pregunta {
        font-size: 9px;
    }

    .instrucciones {
        font-size: 9px;
        margin: 10px 0px;
    }

    .botones-tamizaje button {
        font-size: 9px;
    }

    .tamizaje table {
        font-size: 7px;
    }
    .tamizaje td {
        height: 60px;    
      }

    .bienvenida {
        width: 280px;
        height: 280px;
    }

    .no-disponible,
    .tamizaje-terminado  {
        width: 280px;
        height: 150px;
    }

    .radio {
        width:70px;
    }

    .profesor {
        font-size: 6px;
    }
    .botones-tamizaje button {
        text-align: center;
        width: 100%;
        margin: 5px 0px 5px 0px;
        padding: 10px;
    }
}

@media (min-width: 250px) and (max-width: 300px) {
    .tamizaje {
        margin: 5px auto;
        width: 97%;
    }

    .bienvenida h2,
    .no-disponible h2 {
        font-size: 10px;
    }

    .bienvenida p,
    .no-disponible p {
        text-align: justify;
        font-size: 10px;
    }

    .tamizaje-terminado  p {
        text-align: center;
        font-size: 10px;
    }

    .bienvenida button,
    .no-disponible button,
    .tamizaje-terminado  button {
        font-size: 7px;
    }

    .titulo-pregunta {
        font-size: 7px;
    }

    .instrucciones {
        margin: 5px 0px;
        font-size: 7px;
    }

    .botones-tamizaje button {
        font-size: 7px;
    }

    .tamizaje table {
        font-size: 6px;
    }
    .tamizaje td {
        height: 40px;      
      }
    .bienvenida {
        width: 250px;
        height: 250px;
    }

    .no-disponible,
    .tamizaje-terminado  {
        width: 250px;
        height: 140px;
    }

    .radio {
        width: 60px;
    }

    .profesor {
        font-size: 6px;
    }
    .botones-tamizaje button {
        text-align: center;
        width: 100%;
        margin: 5px 0px 5px 0px;
        padding: 10px;
    }
}