<body [ngClass]="currentMode ? 'dark' : ''">
  <div *ngIf="!tamizajeTerminado">
      <ng-container *ngIf="preguntas.length > 0; else noPreguntas">
          <div class="tamizaje" *ngIf="mostrarInstrucciones">
              <h2 class="titulo-pregunta">INSTRUCCIONES</h2>
              <p class="instrucciones">Antes de comenzar, por favor, responde con sinceridad. Tus respuestas nos ayudarán a entender mejor tus necesidades y mejorar nuestros servicios para proporcionarte una experiencia educativa de alta calidad.</p>
              <table class="pregunta-table">
                  <thead>
                      <tr>
                          <th>PREGUNTA</th>
                          <th colspan="2">RESPUESTA</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let pregunta of preguntas.slice(preguntaActual, preguntaActual + 5)">
                        <td class="pregunta-texto">{{ pregunta.texto }}</td>
                        <td class="radio">
                            <span class="radio-container">
                                <input type="radio" name="respuesta{{ pregunta.id }}" value="Sí" (change)="seleccionarRespuesta(pregunta.id, 'Sí')" />
                                <span class="radio-label">Sí</span>
                            </span>
                        </td>
                        <td class="radio">
                            <span class="radio-container">
                                <input type="radio" name="respuesta{{ pregunta.id }}" value="No" (change)="seleccionarRespuesta(pregunta.id, 'No')" />
                                <span class="radio-label">No</span>
                            </span>
                        </td>
                    </tr>         
                  </tbody>
              </table>
              <div class="botones-tamizaje">
                  <button (click)="cambiarPregunta()" *ngIf="preguntaActual < preguntas.length - 5">Continuar</button>
                  <button (click)="finalizarTamizaje()" *ngIf="preguntaActual >= preguntas.length - 5">Finalizar</button>
                  <button (click)="cancelarTamizaje()">Cancelar</button>
              </div>
          </div>
          <div class="bienvenida" *ngIf="!mostrarInstrucciones">
              <h2>¡Bienvenido al Cuestionario de Tamizaje!</h2>
              <p>Te invitamos a responder las siguientes preguntas. Por favor, elige la opción que mejor refleje tu situación o preferencia. Tu respuesta es valiosa para nosotros.</p>

              <button (click)="iniciarTamizaje()">Comenzar</button>
          </div>
      </ng-container>
      <ng-template #noPreguntas>
          <div class="no-disponible">
              <p>No hay preguntas disponibles en este momento.</p>
              <button routerLink="/estudiantes/inicio">Regresar al Inicio</button>
          </div>
      </ng-template>
  </div>

  <div *ngIf="tamizajeTerminado" class="tamizaje-terminado">
      <p>Cuestionario de tamizaje terminado correctamente.</p>
      <p>¡Gracias por participar!</p>
      <button routerLink="/estudiantes/inicio">Regresar al Inicio</button>
  </div>
  <br>
</body>
