.dark .tamizaje table {background-color: var(--accent-dark); color: var(--white);}
.dark .bienvenida, .dark .no-disponible, .dark .tamizaje-terminado {background-color: var(--background-dark); color: var(--white);}
.dark .bienvenida h2, .dark .no-disponible h2 {color: var(--green);}
.dark button {background-color: var(--green); }
.dark .tamizaje th {background-color: var(--background-dark);}
.dark .tamizaje td {background-color: var(--gray-graydark);}
.dark .tamizaje h2{color: var(--green);}
.dark .tamizaje p{color: var(--white);}
.dark .tamizaje th{ color: var(--green);}
.dark .botones-tamizaje button {background-color: var(--background-dark); color: var(--white); }
.dark .botones-tamizaje button:hover {background-color: var(--green); color: var(--white); }


.dark .radio input[type="radio"] {
    border: 1px solid var(--white);
}

.dark .radio input[type="radio"]::before {
    background-color: var(--white);
}

.dark .radio input[type="radio"]:checked::before {
    background-color: var(--green);
}


body {
    min-height: 93vh;

  }
  
  /* bienvenida */
  
  .bienvenida,
  .no-disponible,
  .tamizaje-terminado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  
  .bienvenida {
    width: 450px;
    height: 450px;
  }
  
  .no-disponible, .tamizaje-terminado{
    width: 450px;
    height: 250px;
  }
  
  
  .bienvenida h2,
  .no-disponible h2 {
    font-size: 18px;
  }
  
  
  .bienvenida p,
  .no-disponible p{
    text-align: justify;
    font-size: 18px;
  }
  
  .tamizaje-terminado p {
    text-align: center;
    font-size: 17px;
  }
  
  .no-disponible p {
    text-align: center !important;
  }
  
  
  .bienvenida button,
  .no-disponible button,
  .tamizaje-terminado button {
    font-size: 16px;
  }

  button {
    width: 200px;
    padding: 7px;
    background-color: var(--darkblue);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: var(--hoverbuuton);
  }
  


  .tamizaje {
    margin: 70px auto;
    width: 70%;
  }
  
  .titulo-pregunta {
    font-size: 16px;
  }
  
  .instrucciones{
    text-align: justify;
    font-size: 16px;
    margin: 20px 0px;
  }
  
  .pregunta {
    text-align: left;
    background-color: var(--gray);
  }
  
  .tamizaje table {
    width: 100%;
    font-size: 16px;
    background-color: var(--gray);
  }
  
  .tamizaje th {
    height: 50px;
    padding: 10px;
    background-color: var(--gray);
  }
  
  .tamizaje td {
    height: 80px;
    padding: 10px;
    background-color: var(--white);
  
  }
  
 .radio{
  width: 200px;
  text-align: center;
  vertical-align: middle;
 }
.radio-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.radio-label {
    margin-left: 5px; 
}

 
/* Estilo del radio  */

.radio input[type="radio"] {
  appearance: none;
  position: relative;
  width: 20px;
  height:20px;
  border: 1px solid var(--black); 
  border-radius: 50%; 
  outline: none; 
}
/* Estilo del radio seleccionado */

.radio input[type="radio"]::before {

  content: '';
  display: block;
  width: 7px; 
  height: 7px; 
  background-color: var(--white);
  border-radius: 50%; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilo del círculo interior cuando el radio está seleccionado */
.radio input[type="radio"]:checked::before {
  background-color: var(--green); 
}


  .profesor {
    font-size: 12px;
    color: rgb(182, 182, 182)
  }
  
  .botones-tamizaje{
    text-align: end;
    margin: 10px auto;
  }
  
  .botones-tamizaje button {
    margin: 5px 0px 0px 5px;
    font-size: 16px;
    background-color: var(--gray);
    color: var(--black);
  }
  
  .botones-tamizaje button:hover {
    background-color: var(--gray-dark);
    color: var(--black);
  } 

 