
@media (min-width: 1200px) and (max-width: 1400px) {
    .tamizaje {
        margin: 70px auto;
        width: 75%;
    }

    .bienvenida h2,
    .no-disponible h2 {
        font-size: 17px;
    }

    .bienvenida p,
    .no-disponible p {
        text-align: justify;
        font-size: 17px;
    }

    .tamizaje-terminado p {
        text-align: center;
        font-size: 16px;
    }

    .bienvenida button,
    .no-disponible button,
    .tamizaje-terminado button {
        font-size: 15px;
    }

    .titulo-pregunta {
        font-size: 15px;
    }

    .instrucciones {
        font-size: 15px;
    }

    .botones-tamizaje button {
        font-size: 15px;
    }

    .tamizaje table {
        font-size: 15px;
    }

    .radio {
        width: 180px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .tamizaje {
        margin: 70px auto;
        width: 75%;
    }

    .bienvenida h2,
    .no-disponible h2 {
        font-size: 16px;
    }

    .bienvenida p,
    .no-disponible p {
        text-align: justify;
        font-size: 16px;
    }

    .tamizaje-terminado p {
        text-align: center;
        font-size: 15px;
    }

    .bienvenida button,
    .no-disponible button,
    .tamizaje-terminado button {
        font-size: 14px;
    }

    .titulo-pregunta {
        font-size: 14px;
    }

    .instrucciones {
        font-size: 14px;
    }

    .botones-tamizaje button {
        font-size: 14px;
    }

    .tamizaje table {
        font-size: 14px;
    }

    .bienvenida {
        width: 440px;
        height: 440px;
    }

    .no-disponible,
    .tamizaje-terminado {
        width: 440px;
        height: 240px;
    }

    .radio {
        width: 160px;
    }

    .profesor {
        font-size: 10px;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
    .tamizaje {
        margin: 60px auto;
        width: 75%;
    }

    .bienvenida h2,
    .no-disponible h2 {
        font-size: 15px;
    }

    .bienvenida p,
    .no-disponible p {
        text-align: justify;
        font-size: 15px;
    }

    .tamizaje-terminado p {
        text-align: center;
        font-size: 14px;
    }

    .bienvenida button,
    .no-disponible button,
    .tamizaje-terminado button {
        font-size: 13px;
    }

    .titulo-pregunta {
        font-size: 13px;
    }

    .instrucciones {
        font-size: 13px;
    }

    .botones-tamizaje button {
        font-size: 13px;
    }

    .tamizaje table {
        font-size: 13px;
    }

    .bienvenida {
        width: 430px;
        height: 430px;
    }

    .no-disponible,
    .tamizaje-terminado {
        width: 430px;
        height: 230px;
    }

    .radio {
        width: 140px;
    }

    .profesor {
        font-size: 10px;
    }

    .radio input[type="radio"] {
        width:18px; 
        height:18px;
      }
}

@media (min-width: 700px) and (max-width: 800px) {
    .tamizaje {
        margin: 50px auto;
        width: 80%;
    }

    .bienvenida h2,
    .no-disponible h2 {
        font-size: 14px;
    }

    .bienvenida p,
    .no-disponible p {
        text-align: justify;
        font-size: 14px;
    }

    .tamizaje-terminado p {
        text-align: center;
        font-size: 13px;
    }

    .bienvenida button,
    .no-disponible button,
    .tamizaje-terminado button {
        font-size: 12px;
    }

    .titulo-pregunta {
        font-size: 12px;
    }

    .instrucciones {
        font-size: 12px;
    }

    .botones-tamizaje button {
        font-size: 12px;
    }

    .tamizaje table {
        font-size: 12px;
    }

    .bienvenida {
        width: 420px;
        height: 420px;
    }

    .no-disponible,
    .tamizaje-terminado {
        width: 420px;
        height: 220px;
    }

    .radio {
        width: 120px;
    }

    .profesor {
        font-size: 9px;
    }

    .botones-tamizaje button {
        text-align: center;
        width: 100%;
        margin: 5px 0px 5px 0px;
        padding: 10px;
    }

    .radio input[type="radio"] {
        width:16px; 
        height:16px;
      }
}

@media (min-width: 600px) and (max-width: 700px) {
    .tamizaje {
        margin: 40px auto;
        width: 85%;
    }

    .bienvenida h2,
    .no-disponible h2 {
        font-size: 13px;
    }

    .bienvenida p,
    .no-disponible p {
        text-align: justify;
        font-size: 13px;
    }

    .tamizaje-terminado p {
        text-align: center;
        font-size: 12px;
    }

    .bienvenida button,
    .no-disponible button,
    .tamizaje-terminado button {
        font-size: 11px;
    }

    .titulo-pregunta {
        font-size: 11px;
    }

    .instrucciones {
        font-size: 11px;
    }

    .botones-tamizaje button {
        font-size: 11px;
    }

    .tamizaje table {
        font-size: 11px;
    }

    .bienvenida {
        width: 410px;
        height: 410px;
    }

    .no-disponible,
    .tamizaje-terminado {
        width: 410px;
        height: 210px;
    }

    .radio {
        width: 100px;
    }

    .profesor {
        font-size: 8px;
    }

    .botones-tamizaje button {
        text-align: center;
        width: 100%;
        margin: 5px 0px 5px 0px;
        padding: 10px;
    }

    .radio input[type="radio"] {
        width:14px; 
        height:14px;
      }
}


@media (min-width: 100px) and (max-width: 600px) {

    .radio input[type="radio"] {
        width:14px; 
        height:14px;
      }
      .radio input[type="radio"]::before {
        width: 7px; 
        height: 7px; 

      }
}



