
.dark .datos-estudiante{ background-color: var(--background-dark); border:  10px solid var(--gray-graydark); }
.dark .datos-estudiante th { color: var(--green);}
.dark .datos-estudiante td {color: var(--white);}

.dark .opciones {background-color: var(--background-dark); border:  2px solid var(--gray-graydark); }
.dark .consulta button, select {background-color: var(--gray-graydark); color: var(--white);}
.dark .consulta button:hover {background-color: var(--green); color: var(--white);}
.dark .opciones select {border-bottom: 1px solid var(--white); color: var(--white);}
.dark .filtro option{background-color: var(--gray-graydark); color: var(--white);}
.dark .opciones p {color: var(--white);}

.dark .kardex{background-color: var(--background-dark); color: var(--white);}
.dark .kardex caption{background-color: var(--background-dark); color: var(--green);}
.dark .kardex th, .dark .kardex td{background-color: var(--gray-graydark);}
.dark .promedio-label, .dark .promedio-value{ background-color: var(--background-dark) !important;color: var(--green)  !important; } 
.dark .ultima-fila td{background-color: var(--background-dark) !important;}


body {
    min-height: 93vh;
}

/* ENCABEZADO */

.datos-estudiante {
    background-color: var(--white);
    font-size: 16px;
    width: 70%;
    margin: 30px auto;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border:  10px solid var(--gray); 
}

.datos-estudiante th {
    height: 10px;
    color: var(--darkblue);
}


.datos{
    padding: 0 5px;
}

/* BUSCADOR */

.opciones {
    width: 70%;
    margin: auto;
    background-color: var(--white);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:  2px solid var(--gray); 
}

.opciones select {
    margin: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 1px solid var(--black);
    color: var(--black);
    background-color: transparent;
    height: 30px;
}

.filtro select option {
    font-size: 16px;
    border-radius: 5px;
    background-color: var(--gray);
    color: var(--black);
} 

.filtro p {
    display: inline;
    font-size: 16px;
    height: 30px;
}

.consulta button {
    background-color: var(--gray);
    width: 200px;
    height: 30px;
    display: inline;
    font-size: 16px;
    border-radius: 4px;
    color: var(--black);
}
.consulta button:hover{
    background-color:var(--gray-dark);
}

/* KARDEX */

.kardex {
    margin:30px auto;
    width: 70%;
    padding: 0px;
    font-size: 16px;
  
}

table{
    background-color: var(--gray);
}


.kardex th {
    height: 40px;
    background-color: var(--white);
}


.kardex td {
    height: 70px;
    background-color: var(--white);
    
}


.promedio{
    text-align: center;

}

.promedio-label {
    text-align: center;
    background-color: var(--gray) !important;
    color: var(--black);
    font-weight: bold;
    padding: 5px 10px;
}

.promedio-value {
    text-align: center;
    background-color: var(--gray) !important;
    color: var(--black);
    font-weight: bold;
    padding: 5px 10px;
}
.ultima-fila td{
    background-color: var(--gray) !important;
}

caption {
    background-color:var( --gray);
    color: var(--dark);
    font-weight: bold;
    align-items: center;
    padding: 5px;
    border-style: solid ;
}


.no-disponible{
    margin: 200px auto;
    text-align: center;
}
.dark .no-disponible p{
    color: var(--white);
}