@media (min-width: 1000px) and (max-width: 1200px) {
    .datos-estudiante {
        font-size: 14px;
        margin: 20px auto;
    }

    .opciones select {
        font-size: 14px;
        width: 150px;
        height: 25px;
    }

    .filtro p {
        font-size: 14px;
    }

    .filtro select option {
        font-size: 14px;
    }

    .consulta button {
        font-size: 14px;
    }

    .kardex {
        font-size: 14px;
        margin: 20px auto;
    }
    .no-disponible{
        font-size: 14px;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {

    .datos-estudiante {
        font-size: 13px;
        margin: 20px auto;
        width: 75%;
    }

    .opciones {
        width: 75%;
    }

    .opciones select {
        font-size: 13px;
        width: 140px;
        height: 25px;
    }

    .filtro p {
        font-size: 13px;
    }

    .filtro select option {
        font-size: 13px;
    }

    .consulta button {
        font-size: 13px;
    }

    .kardex {
        font-size: 13px;
        margin: 20px auto;
        width: 75%;
    }
    .no-disponible{
        font-size: 13px;
    }
}

@media (min-width: 700px) and (max-width: 800px) {
    .datos-estudiante {
        width: 80%;
        font-size: 12px;
        margin: 20px auto;
    }

    .opciones {
        width: 80%;
    }

    .opciones select {
        font-size: 12px;
        width: 130px;
        height: 25px;
    }

    .filtro p {
        font-size: 12px;
    }

    .filtro select option {
        font-size: 12px;
    }

    .consulta button {
        font-size: 12px;
    }

    .kardex {
        width: 80%;
        font-size: 12px;
        margin: 20px auto;
    }

    .no-disponible{
        font-size: 12px;
    }
}


@media (min-width: 600px) and (max-width: 700px) {
    .datos-estudiante {
        width: 85%;
        font-size: 11px;
        margin: 20px auto;
    }

    .opciones {
        width: 85%;
    }

    .opciones select {
        font-size: 11px;
        width: 120px;
        height: 25px;
    }

    .filtro select option {
        font-size: 11px;
    }

    .filtro p {
        font-size: 11px;
    }

    .consulta button {
        font-size: 11px;
        width: 150px;
    }

    .kardex {
        width: 85%;
        font-size: 10px;
        margin: 20px auto;
    }
    .no-disponible{
        font-size: 11px;
    }
}

@media (min-width: 500px) and (max-width: 600px) {
    .datos-estudiante {
        width: 90%;
        font-size: 11px;
        margin: 20px auto;
    }

    .opciones {
        width: 90%;
    }

    .opciones select {
        font-size: 11px;
        margin: 4px;
        width: 110px;
        height: 25px;
    }

    .filtro select option {
        font-size: 11px;
    }

    .filtro p {
        font-size: 11px;
        margin: 10px;
    }

    .consulta button {
        font-size: 11px;
        width: 120px;
        height: 30px;
        margin: 10px;
    }

    .kardex {
        width: 90%;
        font-size: 11px;
        margin: 20px auto;
    }
    .no-disponible{
        font-size: 10px;
    }
}


@media (min-width: 400px) and (max-width: 500px) {
    .datos-estudiante {
        width: 95%;
        font-size: 10px;
        margin: 15px auto;
    }

    .opciones {
        width: 95%;
        padding: 10px 10px 10px 10px;
    }

    .opciones select {
        font-size: 10px;
        margin: 10px;
        width: 110px;
        height: 25px;
    }

    .filtro select option {
        font-size: 10px;
    }

    .filtro p {
        font-size: 10px;
        height: 25px;
    }

    .consulta button {
        font-size: 10px;
        width: 100px;
        height: 25px;
    }

    .kardex {
        width: 95%;
        font-size: 10px;
        margin: 15px auto;
    }

    .kardex td {
        height: auto !important;

    }

    .datos {
        padding: 5px;
    }
    .no-disponible{
        font-size: 10px;
    }
}


@media (min-width: 350px) and (max-width: 400px) {
    .datos-estudiante {
        width: 95%;
        font-size: 9px;
        margin: 10px auto;
    }

    .opciones {
        width: 95%;
        padding: 10px 10px 10px 10px;
    }

    .opciones select {
        font-size: 9px;
        margin: 9px;
        height: 25px;
        width: 100px;
    }

    .filtro select option {
        font-size: 9px;
    }

    .filtro p {
        font-size: 9px;
        height: 25px;
    }

    .consulta button {
        font-size: 9px;
        width: 100px;
        height: 25px;
    }

    .kardex {
        width: 95%;
        font-size: 8px;
        margin: 10px auto;
    }

    .kardex td {
        height: auto !important;

    }

    .datos {
        padding: 5px;
    }
    .no-disponible{
        font-size: 9px;
    }
}


@media (min-width: 300px) and (max-width: 350px) {
    .datos-estudiante {
        width: 97%;
        font-size: 8px;
        margin: 10px auto;
    }

    .opciones {
        width: 97%;
        padding: 10px 10px 10px 10px;
    }

    .opciones select {
        font-size: 8px;
        margin: 8px;
        height: 25px;
        width: 100px;
    }

    .filtro select option {
        font-size: 8px;
    }

    .filtro p {
        font-size: 8px;
        height: 25px;
    }

    .consulta button {
        font-size: 8px;
        width: 90px;
        height: 25px;
    }

    .kardex {
        width: 97%;
        font-size: 8px;
        margin: 10px auto;
    }

    .kardex td {
        height: auto !important;

    }

    .datos {
        padding: 5px;
    }
    .no-disponible{
        font-size: 8px;
    }
}

@media (min-width: 250px) and (max-width: 300px) {
    .datos-estudiante {
        width: 100%;
        font-size: 7px;
        margin: 10px auto;
    }

    .opciones {
        width: 100%;
        padding: 5px 5px 5px 5px;
    }

    .opciones select {
        font-size: 7px;
        margin: 7px;
        height: 25px;
        width: 100px;
    }

    .filtro select option {
        font-size: 7px;
    }

    .filtro p {
        font-size: 7px;
        height: 25px;
    }

    .consulta button {
        font-size: 7px;
        width: 70px;
        height: 25px;
    }

    .kardex {
        width: 100%;
        font-size: 7px;
        margin: 10px auto;
    }

    .kardex td {
        height: auto !important;

    }

    .datos {
        padding: 5px;
    }
    .no-disponible{
        font-size: 7px;
    }
}

@media (min-width: 200px) and (max-width: 250px) {
    .datos-estudiante {
        width: 100%;
        font-size: 6px;
        margin: 10px auto;
    }

    .opciones {
        width: 100%;
        padding: 5px 5px 5px 5px;
    }

    .opciones select {
        font-size: 6px;
        margin: 6px;
        height: 25px;
        width: 100px;
    }

    .filtro select option {
        font-size: 6px;
    }

    .filtro p {
        font-size: 6px;
        height: 25px;
    }

    .consulta button {
        font-size: 6px;
        width: 70px;
        height: 25px;
    }

    .kardex {
        width: 100%;
        font-size: 6px;
        margin: 10px auto;
    }

    .kardex td {
        height: auto !important;

    }

    .datos {
        padding: 5px;
    }
    .no-disponible{
        font-size: 6px;
    }
}