<body [ngClass]="currentMode ? 'dark' : ''">
  <section id="datosEstudiantes">
    <table class="datos-estudiante">
      <thead>
        <tr>
          <th>NO CONTROL</th>
          <th>NOMBRE</th>
          <th>GRUPO</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ estudianteAutenticado.nocontrol }}</td>
          <td>{{ estudianteAutenticado.nombre }}</td>
          <td>{{ estudianteAutenticado.grupo }}</td>
        </tr>
      </tbody>
      <br>
      <thead>
        <tr>
          <th>CURP</th>
          <th>CARRERA</th>
          <th>SEMESTRE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ estudianteAutenticado.curp }}</td>
          <td>{{ estudianteAutenticado.carrera }}</td>
          <td>{{ estudianteAutenticado.semestre }}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="opciones">
    <div class="filtro">
      <P>BUSCAR POR: </P>
      <select [(ngModel)]="opcionSeleccionada">
        <option value="kardex">SEMESTRE ACTUAL</option>
        <option value="historialCompleto">HISTORIAL ACADEMICO</option>
      </select>
    </div>
    <div class="consulta">
      <button (click)="imprimirHistorialAcademico()">IMPRIMIR</button>
    </div>
  </section>

  <section *ngIf="opcionSeleccionada === 'kardex' && kardex" id="kardex">
    <table class="kardex">
      <caption> SEMESTRE {{ estudianteAutenticado.semestre }}</caption>
      <thead>
        <tr>
          <th>ASIGNATURA</th>
          <th>PROFESOR</th>
          <th>1.º PERIODO</th>
          <th>2.º PERIODO</th>
          <th>3.º PERIODO</th>
          <th>CALIFICACION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let materia of kardex.materias; let even = even; let odd = odd;">
          <td class="datos">{{ materia.nombre }}</td>
          <td class="datos">{{ materia.profesor }}</td>
          <td class="promedio">{{ materia.periodo1 }}</td>
          <td class="promedio">{{ materia.periodo2 }}</td>
          <td class="promedio">-</td>
          <!-- <td class="promedio">{{ materia.periodo3 }}</td> -->
          <td class="promedio">{{ ((materia.periodo1 + materia.periodo2 + materia.periodo3) / 3) | number:'1.2-2' }}</td>
        </tr>

        <tr class="ultima-fila">
          <td colspan="3"></td>
          <td colspan="2"class="promedio-label">PROMEDIO SEMESTRAL:</td>
          <td class="promedio-value">{{ calculateSemesterAverage(kardex.materias) | number:'1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
  </section>

    <!-- <section>
    <div class="no-disponible"> 
      <p>Semestre actual no disponible</p>
    </div>
  </section> -->

  <section id="historialAcademico" [hidden]="!(opcionSeleccionada === 'historialCompleto' && historialAcademico)">
    <ng-container *ngFor="let semestre of historialAcademico; let i = index;">
      <table class="kardex">
        <caption> SEMESTRE {{ semestre.semestre }}</caption>
        <thead>
          <tr>
            <th>ASIGNATURA</th>
            <th>PROFESOR</th>
            <th>1.º PERIODO</th>
            <th>2.º PERIODO</th>
            <th>3.º PERIODO</th>
            <th>CALIFICACION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of semestre.materias; let evenMateria = even; let oddMateria = odd;" >
            <td class="datos">{{ materia.nombre }}</td>
            <td class="datos">{{ materia.profesor }}</td>
            <td class="promedio">{{ materia.periodo1 }}</td>
            <td class="promedio">{{ materia.periodo2 }}</td>
            <td class="promedio">{{ materia.periodo3 }}</td>
            <td class="promedio">{{ ((materia.periodo1 + materia.periodo2 + materia.periodo3) / 3) | number:'1.2-2' }}</td>
          </tr>
          <tr class="ultima-fila">
            <td colspan="3"></td>
            <td colspan="2"class="promedio-label">PROMEDIO SEMESTRAL:</td>
            <td class="promedio-value">{{ calculateSemesterAverage(semestre.materias) | number:'1.2-2' }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="ultima-fila" *ngIf="i === historialAcademico.length - 1">
            <td colspan="3"></td>
            <td colspan="2" class="promedio-label">PROMEDIO GENERAL:</td>
            <td class="promedio-value">{{ calculateOverallAverage(historialAcademico) | number:'1.2-2' }}</td>
          </tr> 
        </tfoot>
      </table>
      <hr *ngIf="i < historialAcademico.length - 1" />
    </ng-container>
  </section>
  <br>
</body>

