
.dark .card {background-color: var( --background-dark);}
.dark .card svg {stroke: var(--white);}
.dark .card p{ color: var(--green); }


body {
    min-height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    margin: 0% 10% 0% 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

svg {
    width: 80px;
    height: 200px;
    fill: none;
    stroke-width: 1.5;
    stroke: var(--darkblue);
}

h2{
    font-weight: bold;  
    font-size: 25px;
    color: var(--green);
}

.card {
    width: 320px;
    height: 320px;
    margin: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: var(--white);
    text-align: center;
    cursor: pointer;
    transition:   box-shadow 200ms;
    
}
.card:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);
}






