@media (min-width: 1500px) and (max-width: 1600px) {

    svg {
        width: 70px;
        height: 190px;
    }
    h2{
        font-weight: bold;  
        font-size: 24px;
    }
    .card {
        width: 300px;
        height: 300px;
        margin: 45px;    
    }
}

@media (min-width: 1400px) and (max-width: 1500px) {
    section{
        margin: 7%;
    }

    svg {
        width: 70px;
        height: 190px;
    }
    h2{
        font-weight: bold;  
        font-size: 24px;
    }
    .card {
        width: 300px;
        height: 300px;
        margin: 40px;    
    }
}

@media (min-width: 1300px) and (max-width: 1400px) {

    section{
        margin: 5%;
    }
    svg {
        width: 70px;
        height: 190px;
    }
    h2{
        font-weight: bold;  
        font-size: 24px;
    }
    .card {
        width: 300px;
        height: 300px;
        margin: 40px;    
    }
}

@media (min-width: 1000px) and (max-width: 1300px) {

    section{
        margin: 0%;
    }
    svg {
        width: 80px;
        height: 170px;
    }

    h2 {
        font-size: 22px;
    }
    .card {
        width: 280px;
        height: 280px;
        margin: 30px;    
    }
}

@media (min-width: 800px) and (max-width: 1000px) {

    section{
        margin: 0%;
    }
    svg {
        width: 80px;
        height: 170px;
    }

    h2 {
        font-size: 22px;
    }
    .card {
        width: 280px;
        height: 280px;
        margin: 30px;    
    }
}

@media (min-width: 700px) and (max-width: 800px) {

    section{
        margin: 0%;
    }
    svg {
        width: 80px;
        height: 170px;
    }

    h2 {
        font-size: 22px;
    }
    .card {
        width: 270px;
        height: 270px;
        margin: 30px;    
    }
}

@media (min-width: 600px) and (max-width: 700px) {

    section{
        margin: 0%;
    }
    svg {
        width: 70px;
        height: 160px;
    }

    h2 {
        font-size: 20px;
    }
    .card {
        width: 270px;
        height: 270px;
        margin: 30px;    
    }
}

@media (min-width: 500px) and (max-width: 600px) {

    section {
        margin: 5% 0% 5% 0%;
    }
    svg {
        width: 75px;
        height: 130px;
    }

    h2 {
        font-size: 18px;
    }
    .card {
        width: 80%;
        height: 200px;
        margin: 3% 0% 3% 0%;
    }

}

@media (min-width: 400px) and (max-width: 500px) {

    section {
        margin: 5% 0% 5% 0%;
    }
    svg {
        width: 60px;
        height: 130px;
    }

    h2 {
        font-size: 17px;
    }
    .card {
        width: 80%;
        height: 200px;
        margin: 3% 0% 3% 0%;
    }

}

@media (min-width: 300px) and (max-width: 400px) {

    section {
        margin: 5% 0% 5% 0%;
    }
    svg {
        width: 54px;
        height: 100px;
    }

    h2 {
        font-size: 15px;
    }
    .card {
        width: 80%;
        height: 150px;
        margin: 3% 0% 3% 0%;
    }
}

@media (min-width: 200px) and (max-width: 300px) {

    section {
        margin: 5% 0% 5% 0%;
    }
    svg {
        width: 40px;
        height: 80px;
    }

    h2 {
        font-size: 13px;
    }
    .card {
        width: 80%;
        height: 130px;
        margin: 3% 0% 3% 0%;
    }
}

@media (min-width: 100px) and (max-width: 200px) {

    section {
        margin: 5% 0% 5% 0%;
    }
    svg {
        width: 40px;
        height: 80px;
    }

    h2 {
        font-size: 13px;
    }
    .card {
        width: 80%;
        height: 130px;
        margin: 3% 0% 3% 0%;
    }
}


/* @media (min-width: 150px) and (max-width: 500px) {
    section {
        margin: 5% 0% 5% 0%;
    }
    svg {
        width: 54px;
        height: 100px;
    }

    h2 {
        font-size: 15px;
    }
    .card {
        width: 80%;
        height: 150px;
        margin: 3% 0% 3% 0%;
    }

}

@media (min-width: 500px) and (max-width: 700px) {
    svg {
        width: 70px;
        height: 150px;
    }

    h2 {
        font-size: 19px;
    }

    .card {
        width: 80%;
        height: 230px;
        margin: 30px 0px 30px 0px;
    }
}

@media (min-width: 700px) and (max-width: 800px) {
    svg {
        width: 80px;
        height: 170px;
    }

    h2 {
        font-size: 22px;
    }

    .card {
        width: 280px;
        height: 280px;
        margin: 40px 40px 40px 40px;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
    svg {
        width: 80px;
        height: 170px;
    }

    h2 {
        font-size: 22px;
    }

    .card {
        width: 280px;
        height: 280px;
        margin: 40px 40px 40px 40px;
    }
} */







