@media (min-width: 1600px) and (max-width: 1800px) {

  .semana {
    width: 120px;
  }
}


@media (min-width: 1400px) and (max-width: 1600px) {
  .semana {
    width: 110px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .datos p {
    font-size: 15px;
  }
  .horario table {
    font-size: 15px;
  }
  .button button {
    font-size: 15px;
  }
  .semana {
    width: 100px;
  }
}


@media (min-width: 1000px) and (max-width: 1200px) {
  .datos p {
    font-size: 14px;
  }
  .horario table {
    font-size: 14px;
  }
  .button button {
    font-size: 14px;
  }

  .semana {
    width: 90px;
    text-align: center;
  }

}

@media (min-width: 800px) and (max-width: 1000px) {
  .opciones{
    height: 95px;
    width: 75%;
    margin: 50px auto;
  }
  
  .horario{
    width: 75%;
  }

  .datos, .button{
    margin: 20px;
    width: 140px;
  }
  .datos p {
    font-size: 13px;
  }
  .horario table {
    font-size: 13px;
  }
  .button button {
    font-size: 13px;
  }

  .semana {
    width: 80px;
    text-align: center;
  }
}



@media (min-width: 700px) and (max-width: 800px) {
  .opciones{
    height: 90px;
    width: 80%;
    margin: 45px auto;
  }
  .horario{
    width: 80%;
  }

  .datos, .button{
    margin: 20px;
    width: 130px;
  }
  .datos p {
    font-size: 12px;
  }
  .horario table {
    font-size: 12px;
  }
  .button button {
    font-size: 12px;
  }

  .semana {
    width: 70px;
    text-align: center;
  }
}


@media (min-width: 600px) and (max-width: 700px) {
  .opciones{
    height: 85px;
    width: 85%;
    margin: 40px auto;
  }
  .horario{
    width: 85%;
  }

  .datos, .button{
    margin: 20px;
    width: 120px;
  }
  .datos p {
    font-size: 11px;
  }
  .horario table {
    font-size: 11px;
  }
  .button button {
    font-size: 11px;
  }

  .semana {
    width: 60px;
    text-align: center;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  .opciones{
    height: 80px;
    margin: 35px auto;
    width: 90%;
  }
  .horario{
    width: 90%;
  }
  .datos, .button{
    margin: 20px;
    width: 110px;
  }
  .datos p {
    font-size: 10px;
  }
  .horario table {
    font-size: 10px;
  }
  .button button {
    font-size: 10px;
  }

  .semana {
    width: 50px;
    text-align: center;
  }

}

@media (min-width: 400px) and (max-width: 500px) {
  .opciones{
    height: 75px;
    margin: 30px auto;
    width: 90%;
  }
  .horario{
    width: 90%;
  }
  .datos p {
    font-size: 9px;
  }
  .datos, .button{
    margin: 20px;
    width: 100px;
  }
  .horario table {
    font-size: 9px;
  }
  .button button {
    font-size: 9px;
  }

  .semana {
    width: 40px;
    text-align: center;
    white-space: pre-line;
  }

}

@media (min-width: 300px) and (max-width: 400px) {
  .opciones{
    height: 70px;
    margin: 10px auto;
    width: 95%;
  }
  .horario{
    width: 95%;
  }
  .datos, .button{
    margin: 20px;
    width: 90px;
  }
  .datos p {
    font-size: 8px;
  }
  .horario table {
    font-size: 8px;
  }
  .button button {
    font-size: 8px;
  }

  .semana {
    width: 35px;
    text-align: center;
    white-space: pre-line;
  }

  .horario td {
    height: 60px;    
  }
  .asignacion{
    padding:5px;
  }
}

@media (min-width: 200px) and (max-width: 300px) {
  .opciones{
    height: 65px;
    margin: 20px auto;
    width: 97%;
  }
  .horario{
    width: 97%;
  }

  .datos, .button{
    margin: 20px;
    width: 80px;
  }
  .datos p {
    font-size: 7px;
  }
  .horario table {
    font-size: 7px;
  }
  .button button {
    font-size: 7px;
  }

  .semana {
    width: 30px;
    text-align: center;
    white-space: pre-line;
  }

}

@media (min-width: 100px) and (max-width: 200px) {
  .opciones{
    height: 60px;
    margin: 15px auto;
    width: 100%;
  }
  .horario{
    width: 100%;
  }

  .datos, .button{
    margin: 20px;
    width: 70px;
  }
  .datos p {
    font-size: 6px;
  }
  .horario table {
    font-size: 6px;
  }
  .button button {
    font-size: 6px;
  }

  .semana {
    width: 25px;
    text-align: center;
    white-space: pre-line;
  }

}