<body [ngClass]="currentMode ? 'dark' : ''">
  <section class="opciones" *ngIf="horario">
    <div class="datos">
      <!-- <p>SEMESTRE {{ horario.semestre }}</p> -->
      <p>HORARIO</p>
    </div>
    <div class="button">
      <button (click)="imprimirHorario()">IMPRIMIR</button>
    </div>
  </section>

  <section class="horario" *ngIf="horario">
    <table #tablaHorario class="horario-table">
      <thead>
        <tr>
          <th>MATERIA</th>
          <th>PROFESOR</th>
          <th>LUNES</th>
          <th>MARTES</th>
          <th>MIÉRCOLES</th>
          <th>JUEVES</th> 
          <th>VIERNES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clase of horario.clases; let even = even; let odd = odd;">
          <td class="asignacion">{{ clase.materia }}</td>
          <td class="asignacion">{{ clase.profesor }}</td>
          <td class="semana">{{ getHorarioPorDia(clase, 'Lunes') }}</td>
          <td class="semana">{{ getHorarioPorDia(clase, 'Martes') }}</td>
          <td class="semana">{{ getHorarioPorDia(clase, 'Miércoles') }}</td>
          <td class="semana">{{ getHorarioPorDia(clase, 'Jueves') }}</td>
          <td class="semana">{{ getHorarioPorDia(clase, 'Viernes') }}</td>
        </tr>
      </tbody>
    </table>
  </section>
<!-- 
    <section>
      <div class="no-disponible">
        <p>Horario no disponible en este momento.</p>
        <button class="regresar-inicio" routerLink="/estudiantes/inicio">Regresar al Inicio</button>
    </div>
    </section> -->
</body>