.dark .opciones{background-color: var(--background-dark);   border:  10px solid var(--gray-graydark); }
.dark .datos{color: var(--white);}
.dark .horario{background-color: var(--background-dark);}
.dark .horario table{background-color: var(--background-dark); color: var(--white);}
.dark .horario th { background-color:var(--background-dark); color: var(--green);}
.dark .horario td { background-color:var(--gray-graydark);}
.dark .button  button { background-color: var(--gray-graydark); color: var(--white);}
.dark .button  button:hover { background-color: var(--green); color: var(--white);}



body {
  height: 93vh;
}

.opciones {
  margin: 30px auto;
  width: 70%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border:  10px solid var(--gray); 
}

.datos, .button{
  margin: 20px;
  width: 150px;
}

.datos p{
  font-size: 16px;
  font-weight: bold;
}

.button button {
  padding: 3px;
  width: 100%;
  display: inline;
  font-size: 16px;
  background-color: var(--gray);
  color: var(--black);

}
.button button:hover{
  background-color:var(--gray-dark);
}


.horario{
  margin: auto;
  width: 70%;

}

.horario table {
  width: 100%;
  font-size: 16px;
  background-color: var(--gray);
}

.horario th {
  height: 40px;
  background-color: var(--gray);
}

.horario td {
  height: 70px;
  background-color: var(--white);
  
}
.asignacion{
  padding: 0 5px;
}

.semana{
  width: 130px;
  text-align: center;
}



.no-disponible{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.no-disponible{
  width: 450px;
  height: 250px;
}

.no-disponible p{
  text-align: center;
  font-size: 18px;
}
.regresar-inicio{
    font-size: 16px;
    width: 200px;
    padding: 7px;
    background-color: var(--darkblue);
    color: var(--white);
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  .regresar-inicio:hover {
    background-color: var(--hoverbuuton);
  }

 .dark .no-disponible {background-color: var(--background-dark); color: var(--white);}
 .dark .regresar-inicio {background-color: var(--green);}

 @media (min-width: 800px) and (max-width: 1000px) {
    .no-disponible{
        width: 430px;
        height: 230px;
      }
      .no-disponible p{
        font-size: 17px;
      }
      .regresar-inicio{
        font-size: 15px;
        width: 190px;
        padding: 7px;
      }
 }

 @media (min-width: 600px) and (max-width: 800px) {
    .no-disponible{
        width: 390px;
        height: 200px;
      }
      .no-disponible p{
        font-size: 16px;
      }
      .regresar-inicio{
        font-size: 14px;
        width: 180px;
        padding: 7px;
      }
 }

 @media (min-width: 400px) and (max-width: 600px) {
    .no-disponible{
        width: 350px;
        height: 170px;
      }
      .no-disponible p{
        font-size: 15px;
      }
      
      .regresar-inicio{
        font-size: 13px;
        width: 170px;
        padding: 7px;
      }
 }  

 @media (min-width: 300px) and (max-width: 400px) {
    .no-disponible{
        width: 280px;
        height: 140px;
      }
      .no-disponible p{
        font-size: 14px;
      }
      
      .regresar-inicio{
        font-size: 12px;
        width: 150px;
        padding: 6px;
      }
 }

 @media (min-width: 200px) and (max-width: 300px) {
    .no-disponible{
        width: 240px;
        height: 140px;
      }
      .no-disponible p{
        font-size: 12px;
        text-align: center;
      }
      
      .regresar-inicio{
        font-size: 10px;
        width: 130px;
        padding: 5px;
      }
 }