
@media (min-width: 150px) and (max-width: 400px){
    body{min-height: 78vh;}
    section{width: 70%; }
    section h3{font-size: 18px;}
    form p, form input, form button{font-size: 14px;}
    form{height: 370px;}
}


@media (min-width: 400px) and (max-width: 600px){
    body{min-height: 88vh;}
    section{width: 70%;}
    section h3{font-size: 20px;}
    form p, form input, form button{font-size: 14px;}
    form{height: 420px;}
    form input, form .data-field{width: 80%;}
}


@media (min-width: 600px) and (max-width: 800px){
    section{width: 60%;}
    section h3{font-size: 22.5px;}
    form p, form input{font-size: 16px;}
    form{height: 450px;}
    form input, form .data-field{width: 80%;}
}



@media (min-width: 800px) and (max-width: 1000px){
    section{width: 50%;}
    section h3{font-size: 22.5px;}
    form{height: 480px;}
    form input, form .data-field{width: 80%;}
}



@media (min-width: 1000px) and (max-width: 1200px){
    section{width: 40%;}
    form{height: 500px;}
    form input, form .data-field{width: 80%;}
}
@media (min-width: 1200px) and (max-width: 1400px){
    section{width: 30%;}
    form{height: 500px;}
    form input, form .data-field{width: 85%;}
}