<div class="background"></div>
<body [ngClass]="currentMode ? 'dark' : ''">
    <section >
        <form (submit)="login()">
            <img src="../../../../assets/logo/logo.png" alt="logo">
        
            <h3>Inicio de sesión</h3>
        
            <p>Ingresa tus datos de sesión para continuar</p>
        
            <div class="data-field">
                <svg width="24" height="24" fill="#1F232F" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 3a3.75 3.75 0 1 1 0 7.5A3.75 3.75 0 0 1 12 3Zm0-1.5A5.25 5.25 0 1 0 12 12a5.25 5.25 0 0 0 0-10.5Z"></path>
                    <path d="M19.5 22.5H18v-3.75A3.75 3.75 0 0 0 14.25 15h-4.5A3.75 3.75 0 0 0 6 18.75v3.75H4.5v-3.75a5.25 5.25 0 0 1 5.25-5.25h4.5a5.25 5.25 0 0 1 5.25 5.25v3.75Z"></path>
                </svg>
                <p>Usuario</p>
            </div>
        
            <!-- Campos de entrada para usuario y contraseña -->
            <input class="input" type="text" name="user" [(ngModel)]="username" required>
        
            <div class="data-field">
                <svg width="24" height="24" fill="#1F232F" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 10.5h-1.5V6a4.5 4.5 0 1 0-9 0v4.5H6A1.5 1.5 0 0 0 4.5 12v9A1.5 1.5 0 0 0 6 22.5h12a1.5 1.5 0 0 0 1.5-1.5v-9a1.5 1.5 0 0 0-1.5-1.5ZM9 6a3 3 0 1 1 6 0v4.5H9V6Zm9 15H6v-9h12v9Z"></path>
                </svg>
                <p>Contraseña</p>
            </div>
            
            <input class="input" type="password" name="password" [(ngModel)]="password" required>
          
            <!-- Botón de inicio de sesión -->
            <button type="submit">Entrar</button>
        </form>
    </section>
</body>
