.dark {background-image: url('../../../../assets/imgs/fondo-obscuro.jpg');}
.dark section{background-color: var(--background-dark);}
.dark input{background-color: var( --accent-dark);}
.dark h3{color: var( --green);}
.dark p{color: var( --white);}
.dark .data-field p{color: var( --white);}
.dark .data-field svg{fill:var(--green)}
.dark .input{color: var(--white);}

body {
    min-height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../../assets/imgs/fondo.jpg');
    background-size: cover;
}
    
section{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: white;
}
form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px 20px;
    height: 600px;
}
form img{
    position: absolute;
    opacity: 0.05;
    width: 200px;
    z-index: 0;
}
form h3{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: var(--darkblue);
}
form p{
    font-size: 18px;
    text-align: center;
}
form .data-field{
    display: flex;
    align-items: center;
    width: 90%;
    z-index: 2;
}
form .data-field p{font-weight: bold;}
form .data-field svg{margin-right: 5px;}
form input{
    width: 90%;
    height: 30px;
    background-color: var(--gray);
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    outline: none;
    border: none;
    offset: none;
    z-index: 2;
}

form button{
    background-color: var(--darkblue);
    color: var(--white);
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 5px;
}
form button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
