<!-- guiastrabajo.component.html -->

<body [ngClass]="currentMode ? 'dark' : ''">
    <section>
      <div class="datos">
        <div class="titulo">
          <h2>GUÍAS DE TRABAJO</h2>
        </div>
        <div class="select">
          <label for="periodoSelect">SELECCIONAR:</label>
          <select id="periodoSelect" [(ngModel)]="periodoSeleccionado" name="periodoSelect" (change)="onPeriodoChange()">
            <option value="1">PERIODO 1</option>
            <option value="2">PERIODO 2</option>
            <option value="3">PERIODO 3</option>
          </select>
        </div>
      </div>
    </section>
  
    <section>
      <table>
        <thead>
          <tr>
            <th>ASIGNATURA</th>
            <th>PROFESOR</th>
            <th>ARCHIVO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let guia of guiasEstudio">
            <td class="asignados">{{ guia.asignatura }}</td>
            <td  class="asignados">{{ guia.profesor }}</td>
            <td>
              <ng-container *ngIf="obtenerRutaDocumento(guia) !== 'no-disponible'">
  
                <a [href]="obtenerRutaDocumento(guia)" download>
                  <span class="icono-archivo">
                    <svg width="16" height="16" home fill="none" stroke="#B6B6B6" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                      <path d="m7 10 5 5 5-5"></path>
                      <path d="M12 15V3"></path>
                      </svg>
                  </span>
                  <span class="texto">Descargar</span>
                </a>
              </ng-container>
              <ng-container *ngIf="obtenerRutaDocumento(guia) === 'no-disponible'">
                No disponible
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- <section>
      <div class="no-disponible">
        <p>Guias de trabajo no disponible en este momento.</p>
        <button class="regresar-inicio" routerLink="/estudiantes/inicio">Regresar al Inicio</button>
    </div>
    </section> -->
    <br>
  </body>