
.dark table, .dark td, .dark th {background-color: var(--background-dark); color: var(--white);}
.dark th{background-color: var(--background-dark); color:var(--green);}
.dark td{ background-color: var(--gray-graydark);}
.dark  select {color: var(--white);  border-bottom: 1px solid var(--white);}
.dark  option { color: var(--white); background-color: var(--gray-graydark);}
.dark  a { background-color:var(--background-dark);}
.dark .datos {
    background-color: var(--background-dark);
    color: var(--white);
    border: 10px solid var(--gray-graydark);
}




body{
    min-height: 93vh;
}

section{
    width: 70%;
   margin: 30px auto;
   text-align: center;
}

.datos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    height: 100px;
    border:  10px solid var(--gray); 
    padding: 10px;
    
}

.asignados{
    text-align: left;
}
select {
    width: 150px;
    margin: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 1px solid var(--black);
    color: var(--black);
    background-color: transparent;
    height: 30px;
    text-align: center;
}

h2, label{
    font-size: 16px;
}

 table {
    width: 100%;
    font-size: 16px;
    background-color: var(--gray);
    text-align: center;
}

 th {
    height: 40px;
    padding: 10px;
    background-color: var(--gray);
    width: 33%;
}
td{
    padding: 10px 10px;
    background-color: var(--white);
}

a {
    text-decoration: none;
    color: #B6B6B6;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.16);
    width: 200px;
    padding: 5px 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}


.icono-archivo {
    display: inline-block;
    vertical-align: middle; /* Ajusta la alineación vertical según sea necesario */
    margin-right: 5px ;
}

span {
    display: inline-block;
    vertical-align: middle; /* Ajusta la alineación vertical según sea necesario */

}

/* Agrega el siguiente estilo para centrar el SVG dentro de su contenedor */
.icono-archivo svg {
    display: block;
    margin: auto;
}

 a:hover {
    background-color: var(--gray);
}



/* no disponible */


.no-disponible{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}



.no-disponible{
  width: 450px;
  height: 250px;
}

.no-disponible p{
  text-align: center;
  font-size: 18px;
}
.regresar-inicio{
    font-size: 16px;
    width: 200px;
    padding: 7px;
    background-color: var(--darkblue);
    color: var(--white);
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  .regresar-inicio:hover {
    background-color: var(--hoverbuuton);
  }

 .dark .no-disponible {background-color: var(--background-dark); color: var(--white);}
 .dark .regresar-inicio {background-color: var(--green);}

 @media (min-width: 800px) and (max-width: 1000px) {
    .no-disponible{
        width: 430px;
        height: 230px;
      }
      .no-disponible p{
        font-size: 17px;
      }
      .regresar-inicio{
        font-size: 15px;
        width: 190px;
        padding: 7px;
      }
 }

 @media (min-width: 600px) and (max-width: 800px) {
    .no-disponible{
        width: 390px;
        height: 200px;
      }
      .no-disponible p{
        font-size: 16px;
      }
      .regresar-inicio{
        font-size: 14px;
        width: 180px;
        padding: 7px;
      }
 }

 @media (min-width: 400px) and (max-width: 600px) {
    .no-disponible{
        width: 350px;
        height: 170px;
      }
      .no-disponible p{
        font-size: 15px;
      }
      
      .regresar-inicio{
        font-size: 13px;
        width: 170px;
        padding: 7px;
      }
 }  

 @media (min-width: 300px) and (max-width: 400px) {
    .no-disponible{
        width: 280px;
        height: 140px;
      }
      .no-disponible p{
        font-size: 14px;
      }
      
      .regresar-inicio{
        font-size: 12px;
        width: 150px;
        padding: 6px;
      }
 }

 @media (min-width: 200px) and (max-width: 300px) {
    .no-disponible{
        width: 240px;
        height: 140px;
      }
      .no-disponible p{
        font-size: 12px;
        text-align: center;
      }
      
      .regresar-inicio{
        font-size: 10px;
        width: 130px;
        padding: 5px;
      }
 }