@media (min-width: 1200px) and (max-width: 1400px) {

    select,
    h2,
    label,
    table {
        font-size: 15px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {

    select,
    h2,
    label,
    table {
        font-size: 14px;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
 /* font 13   80%*/
    select,
    h2,
    label,
    table {
        font-size: 13px;
    }

    select{
        width: 140px;
    }

    section{
        width:75% ;
    }

    a{
        width: 180px;
    }

}

@media (min-width: 700px) and (max-width: 800px) {

    /* font 12   80%*/
    select,
    h2,
    label,
    table {
        font-size: 12px;
    }
    select{
        width: 130px;
    }
    section{
        width:80% ;
    }

    a{
        width: 160px;
    }
}

@media (min-width: 600px) and (max-width: 700px) {

    /* font 11  85%*/
    select,
    h2,
    label,
    table {
        font-size: 11px;
    }
    select{
        width: 120px;
    }
    section{
        width:85% ;
    }
    a{
        width: 140px;
    }
}

@media (min-width: 500px) and (max-width: 600px) {

    /* font 10  90%*/
    select,
    h2,
    label,
    table {
        font-size: 10px;
    }

    select{
        width: 110px;
    }
    section{
        width:90% ;
    }

    a{
        width: 120px;
    }

}

@media (min-width: 400px) and (max-width: 500px) {

    /* font 9  90%*/
    select,
    h2,
    label,
    table {
        font-size: 9px;
    }

    select{
        width: 100px;
    }
    section{
        width:90% ;
        margin: 20px auto;
    }

    .dark a{
        background-color: var(--gray-graydark);
        border: 1px solid rgba(0, 0, 0, 0);
    }

    a{
        width: 100px;
        padding: 0px;
    }
    .texto{
        display: none !important;
    }
    .icono-archivo svg {
        width: 18px !important; 
        height: 18px !important;
    }
    .datos{
        padding: 5px;
    }
}

@media (min-width: 300px) and (max-width: 400px) {

    /* font 8 95%*/
    select,
    h2,
    label,
    table {
        font-size: 8px;
    }
    select{
        width: 70px;
    }
    section{
        width:95% ;
        margin: 10px auto;
    }

    .dark a{
        background-color: var(--gray-graydark);
        border: 1px solid rgba(0, 0, 0, 0);
    }

    a{
        background-color: var(--white);
        border: 1px solid rgba(0, 0, 0, 0);
        width: 60px;
        padding: 0px;
    }
    .texto{
        display: none !important;
    }
    .icono-archivo svg {
        width: 18px !important; 
        height: 18px !important;
    }
    .datos{
        padding: 0px;
    }
}

@media (min-width: 200px) and (max-width: 300px) {

    /* font 7 97%*/
    select,
    h2,
    label,
    table {
        font-size: 7px;
    }
    select{
        width: 80px;
    }
    section{
        width:97% ;
        margin: 5px auto;
    }
    .dark a{
        background-color: var(--gray-graydark);
        border: 1px solid rgba(0, 0, 0, 0);
    }

    a{
        width: 50px;
        padding: 0px;
    }
    .texto{
        display: none !important;
    }
    .icono-archivo svg {
        width: 18px !important; 
        height: 18px !important;
    }
    .datos{
        padding: 0px;
    }
    
}