
header{
    width: 100%;
    position: fixed;
    z-index: 10;
}
main{
    padding-top: 70px;
    background-color: var(--accent-light);
}
.dark{
    background-color: var(--accent-dark);
}

    