<footer>
    <section>
        <div class="contact-info">
            <h3>Información de contacto</h3>
            <p>
                <svg width="24" height="24" fill="#64AA2E" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.5 21.75h-.127C4.635 20.902 2.543 8.467 2.25 4.672A2.25 2.25 0 0 1 4.32 2.25h4.133a1.5 1.5 0 0 1 1.395.945L10.988 6a1.5 1.5 0 0 1-.33 1.62L9.06 9.232a7.027 7.027 0 0 0 5.685 5.7l1.628-1.612A1.499 1.499 0 0 1 18 13.012l2.828 1.133a1.5 1.5 0 0 1 .922 1.395v3.96a2.25 2.25 0 0 1-2.25 2.25Zm-15-18a.75.75 0 0 0-.75.75v.06C4.095 9 6.308 19.5 19.455 20.25a.749.749 0 0 0 .795-.705V15.54l-2.827-1.132-2.153 2.137-.36-.045C8.385 15.682 7.5 9.158 7.5 9.09l-.045-.36 2.13-2.153L8.46 3.75H4.5Z"></path>
                </svg>
                Teléfono: 
                <span> 731 357 0709</span>
            </p>
            <p>
                <svg width="24" height="24" fill="#64AA2E" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 4.5H3A1.5 1.5 0 0 0 1.5 6v12A1.5 1.5 0 0 0 3 19.5h18a1.5 1.5 0 0 0 1.5-1.5V6A1.5 1.5 0 0 0 21 4.5ZM19.35 6 12 11.085 4.65 6h14.7ZM3 18V6.683l8.572 5.932a.75.75 0 0 0 .856 0L21 6.682V18H3Z"></path>
                </svg>
                Correo: 
                <span> cbta190leonavicario&#64;gmail.com </span>
            </p>
            <p>
                <svg width="24" height="24" fill="#64AA2E" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="m12 18-4.567-6.45A6.105 6.105 0 0 1 12 1.5a6.06 6.06 0 0 1 6 6.098 6.15 6.15 0 0 1-1.35 3.847L12 18Zm0-15a4.552 4.552 0 0 0-4.5 4.598 4.642 4.642 0 0 0 1.118 3L12 15.39l3.473-4.89A4.68 4.68 0 0 0 16.5 7.598 4.553 4.553 0 0 0 12 3Z"></path>
                    <path d="M12 8.25a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
                    <path d="M21 9h-1.5v1.5H21V21H3V10.5h1.5V9H3a1.5 1.5 0 0 0-1.5 1.5V21A1.5 1.5 0 0 0 3 22.5h18a1.5 1.5 0 0 0 1.5-1.5V10.5A1.5 1.5 0 0 0 21 9Z"></path>
                </svg>
                Dirección: 
                <span> Crr Ocuituco los Limones km 2.5, Ocuituco, Mexico</span>
            </p>
        </div>

        <div class="social">
            <h3 class="h3-horario">Horario</h3>

            <p>
                <svg width="24" height="24" fill="#64AA2E" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 22.5a10.5 10.5 0 1 1 0-21 10.5 10.5 0 0 1 0 21ZM12 3a9 9 0 1 0 0 18 9 9 0 0 0 0-18Z"></path>
                    <path d="m15.443 16.5-4.193-4.193V5.25h1.5v6.435l3.75 3.758-1.057 1.057Z"></path>
                </svg>
                Lunes a Sabado
                <span> 7:20 am - 3:20 pm </span>
            </p>

            <h3>Redes sociales</h3>
            <ul>
                <a href="https://www.facebook.com/Lostitanes1" target="_blank">
                    <svg width="24" height="24" fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="fb-icon">
                        <path d="M20.003 3H3.997A1.005 1.005 0 0 0 3 3.998v16.005a1.005 1.005 0 0 0 .998.997h8.617v-6.96h-2.34v-2.722h2.34V9.315c0-2.325 1.418-3.592 3.502-3.592.698 0 1.395 0 2.093.104V8.25h-1.433c-1.132 0-1.35.54-1.35 1.328v1.732h2.7l-.352 2.723h-2.347V21h4.575a1.006 1.006 0 0 0 .997-.997V3.997A1.005 1.005 0 0 0 20.003 3Z"></path>
                    </svg>
                    <p>CBTA 190</p>
                </a>
        
                <a>
                    <svg width="24" height="24" fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="yt-icon">
                        <path d="M22.057 6.943a2.625 2.625 0 0 0-1.852-1.852C18.57 4.648 12 4.648 12 4.648s-6.57 0-8.205.443a2.625 2.625 0 0 0-1.853 1.852 27.097 27.097 0 0 0-.442 5.055 27.107 27.107 0 0 0 .442 5.055 2.625 2.625 0 0 0 1.853 1.853c1.635.442 8.205.442 8.205.442s6.57 0 8.205-.442a2.625 2.625 0 0 0 1.852-1.853 27.1 27.1 0 0 0 .443-5.055 27.1 27.1 0 0 0-.443-5.055ZM9.9 15.148v-6.3l5.452 3.15-5.452 3.15Z"></path>
                    </svg>
                    <p>CBTA 190</p>
                </a>
        
                <a href="https://twitter.com/cbta190" target="_blank">
                    <svg width="24" height="24" fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="tw-icon">
                        <path d="M8.94 18.704a9.57 9.57 0 0 0 9.63-9.63v-.442a7.05 7.05 0 0 0 1.68-1.747c-.618.27-1.273.45-1.942.532a3.42 3.42 0 0 0 1.5-1.875 6.667 6.667 0 0 1-2.145.825 3.39 3.39 0 0 0-5.776 3.083 9.592 9.592 0 0 1-6.975-3.533 3.382 3.382 0 0 0 1.05 4.5 3.353 3.353 0 0 1-1.5-.42v.037a3.397 3.397 0 0 0 2.663 3.338 3.397 3.397 0 0 1-1.5.06 3.383 3.383 0 0 0 3.135 2.317 6.788 6.788 0 0 1-4.207 1.5 7.333 7.333 0 0 1-.803-.067 9.577 9.577 0 0 0 5.19 1.5"></path>
                    </svg>
                    <p>CBTA 190</p>
                </a>
            </ul>
        </div>
    </section>

    <div class="copyright">
        <p>&copy; 2023 CBTA 190 Leona Vicario Fernandez. Todos los derechos reservados.</p>
    </div>
</footer>