footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;   
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -10px -10px 20px rgba(0, 0, 0, 0.2);
}
section{
    width: 100%;
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.contact-info{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.contact-info h3{
    font-size: 18px;
    color: var(--green);
    margin-bottom: 20px;
    text-align: center;
}
.contact-info p{
    color: var(--green);
    display: flex;
    font-weight: bold;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    font-size: 16px;
}
.contact-info p svg{margin-right: 5px;}
.contact-info p span{margin-left: 5px; color: var(--white); font-weight: normal;}
.social{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.social h3{
    font-size: 18px;

    color: var(--green);
    margin-bottom: 20px;
    text-align: center;
}
.social ul{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.social ul a{
    display: flex;
    align-items: center;
    color: var(--black);
    text-decoration: none;
    font-size: 16px;
    padding: 0 5px;
}
.social ul a svg{
    margin-right: 5px;
    border-radius: 5px;
}
.social .fb-icon{
    background: #396afc;
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);
    background: linear-gradient(to right, #2948ff, #396afc);
}
.social .yt-icon{
    background-color: #c4302b;
}
.social .tw-icon{
    background: #1DA1F2;
}
.social ul a:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.social .h3-horario{
    margin-top: 20px;
}
.social > p{
    color: var(--green);
    font-size: 16px;
    display: flex;
    font-weight: bold;
    align-items: center;
    margin-bottom: 20px;
}
.social p svg{margin-right: 5px;}
.social p span{color: var(--white); margin-left: 5px; font-weight: normal;}
.copyright{padding-bottom: 20px;}
.copyright p{
    color: var(--white);
    font-size: 18px; 
    text-align: center; 
    word-wrap: break-word;
}
p{
    color: white;
}