@media (min-width: 1000px) and (max-width: 1200px){
    section{align-items: flex-start;}
    .social .h3-horario{margin-top: 0;}
    .contact-info p{
        width: 90%;
        font-size: 12px;
    }
    .social > p{font-size: 12px;}
    .social ul a{font-size: 12px;}
    .copyright p{text-align: center; font-size: 18px;}
}

@media (min-width: 1200px) and (max-width: 1400px){
    section{align-items: flex-start;}
    .social .h3-horario{margin-top: 0;}
    .contact-info p{
        width: 90%;
        font-size: 14px;
    }
    .social > p{font-size: 14px;}
    .social ul a{font-size: 14px;}
    .copyright p{text-align: center; font-size: 18px;}
}

 @media (min-width: 1400px) and (max-width: 1600px){
    section{align-items: flex-start;}
    .social .h3-horario{margin-top: 0;}
    .contact-info p{
        font-size: 16px;
    }
    .social > p{font-size: 16px;}
    .social ul a{font-size: 16px;}
    .copyright p{text-align: center; font-size: 18px;}
}

@media (min-width: 1600px) and (max-width: 1800px){
    section{align-items: flex-start;}
    .social .h3-horario{margin-top: 0;}
    .contact-info p{font-size: 16px;}
    .social > p{font-size: 16px;}
    .social ul a{font-size: 16px;}
    .copyright p{text-align: center; font-size: 18px;}
}

@media (min-width: 1800px) and (max-width: 2000px){
    section{align-items: flex-start;}
    .social .h3-horario{margin-top: 0;}
    .contact-info p{font-size: 16px;}
    .social > p{font-size: 16px;}
    .social ul a{font-size: 16px;}
    .copyright p{text-align: center; font-size: 18px;}
}

@media   (min-height: 700px)and (max-height: 1000px){
    section{align-items: flex-start;}
    .social .h3-horario{margin-top: 0;}
    .contact-info p{font-size: 14px;}
    .social > p{font-size: 14px;}
    .social ul a{font-size: 14px;}
    .copyright p{text-align: center; font-size: 15px;}
}