@media (min-width: 350px) and (max-width: 400px) {

    .datos,
    .subirArchivo {
        width: 95%;
        padding: 0px;
        margin: 10px auto;
    }

    .datos h2,
    .periodoSelect,
    .periodoSelect option {
        font-size: 8.5px;
    }

    .periodoSelect select {
        font-size: 8.5px;
        width: 60px;
        height: 25px;
        text-align: center;
    }

    .subirArchivo table {
        font-size: 8.5px;
    }

    .materia button {
        font-size: 8.5px;
    }

    .input_container,
    .btn {

        width: 70px;
        font-size: 8.5px;
    }


    .materia button {
        width: 40px;
        font-size: 8.5px;

    }

    .nombre-archivo {
        margin: auto;
        width: 12px;
        height: 12px;
        font-size: 8.5px;

    }

    .nombre-archivo button {
        border: 1px solid rgba(255, 255, 255, 0.16);
        background-color: var(--white);

    }

    .dark .nombre-archivo button {
        border: 1px solid rgba(255, 255, 255, 0);
        background-color: var(--background-dar);
    }

    .materia,
    .datos-materia {
        padding: 3px;
    }

    .nombre-archivo svg {

        width: 15px;
        height: 15px;
    }

    .nombre-archivo-texto {
        display: none;
        visibility: hidden;
        border-radius: 0px;
        background-color: transparent;

    }

    .comentarios-profesor button,
    .comentarios-alumno button,
    .textoEstudiante button {
        font-size: 8.5px;
    }

    .textoProfesor textarea,
    .textoEstudiante textarea {
        font-size: 8.5px;
    }

    .comentarios-profesor,
    .comentarios-alumno {
        width: 49.7%;
    }

}


@media (min-width: 300px) and (max-width: 350px) {

     .datos,
    .subirArchivo {
        width: 95%;
        padding: 0px;
        margin: 10px auto;
    }

    .datos h2,
    .periodoSelect,
    .periodoSelect option {
        font-size: 7px;
    }

    .periodoSelect select {
        font-size: 7px;
        width: 60px;
        height: 25px;
        text-align: center;
    }

    .subirArchivo table {
        font-size: 6px;
    }

    .materia button {
        font-size: 6px;
    }

    .input_container,
    .btn {

        width: 40px;
        font-size: 6px;
    }


    .materia button {
        width: 35px;
        font-size: 6px;

    }

    .nombre-archivo {
        margin: auto;
        width: 12px;
        height: 12px;
        font-size: 6px;

    }

    .nombre-archivo button {
        border: 1px solid rgba(255, 255, 255, 0.16);
        background-color: var(--white);

    }

    .dark .nombre-archivo button {
        border: 1px solid rgba(255, 255, 255, 0);
        background-color: var(--background-dar);
    }

    .materia,
    .datos-materia {
        padding: 3px;
    }

    .nombre-archivo svg {

        width: 13px;
        height: 13px;
    }

    .nombre-archivo-texto {
        display: none;
        visibility: hidden;
        border-radius: 0px;
        background-color: transparent;

    }

    .comentarios-profesor button,
    .comentarios-alumno button,
    .textoEstudiante button {
        font-size: 6px;
    }

    .textoProfesor textarea,
    .textoEstudiante textarea {
        font-size: 6px;
    }

    .comentarios-profesor,
    .comentarios-alumno {
        width: 49.7%;
    }
}


@media (min-width: 250px) and (max-width: 300px) {

    body .datos,
    .subirArchivo {
        width: 97%;
        padding: 0px;
        margin: 10px auto;
    }

    .datos h2,
    .periodoSelect,
    .periodoSelect option {
        font-size: 6px;
    }

    .periodoSelect select {
        font-size: 6px;
        width: 60px;
        height: 25px;
        text-align: center;
    }

    .subirArchivo table {
        font-size: 5px;
    }

    .materia button {
        font-size: 5px;
    }

    .input_container,
    .btn {

        width: 40px;
        font-size: 5px;
    }


    .materia button {
        width: 35px;
        font-size: 5px;

    }

    .nombre-archivo {
        margin: auto;
        width: 12px;
        height: 12px;
        font-size: 5px;

    }

    .nombre-archivo button {
        border: 1px solid rgba(255, 255, 255, 0.16);
        background-color: var(--white);

    }

    .dark .nombre-archivo button {
        border: 1px solid rgba(255, 255, 255, 0);
        background-color: var(--background-dar);
    }

    .materia,
    .datos-materia {
        padding: 3px;
    }

    .nombre-archivo svg {

        width: 13px;
        height: 13px;
    }

    .nombre-archivo-texto {
        display: none;
        visibility: hidden;
        border-radius: 0px;
        background-color: transparent;

    }

    .comentarios-profesor button,
    .comentarios-alumno button,
    .textoEstudiante button {
        font-size: 5px;
    }

    .textoProfesor textarea,
    .textoEstudiante textarea {
        font-size: 5px;
    }

    .comentarios-profesor,
    .comentarios-alumno {
        width: 49.7%;
    }
}


@media (min-width: 200px) and (max-width: 250px) {

    body .datos,
    .subirArchivo {
        width: 100%;
        padding: 0px;
        margin: 10px auto;
    }

    .datos h2,
    .periodoSelect,
    .periodoSelect option {
        font-size: 6px;
    }

    .periodoSelect select {
        font-size: 6px;
        width: 60px;
        height: 25px;
        text-align: center;
    }

    .subirArchivo table {
        font-size: 5px;
    }

    .materia button {
        font-size: 5px;
    }

    .input_container,
    .btn {

        width: 40px;
        font-size: 5px;
    }


    .materia button {
        width: 35px;
        font-size: 5px;

    }

    .nombre-archivo {
        margin: auto;
        width: 12px;
        height: 12px;
        font-size: 5px;

    }

    .nombre-archivo button {
        border: 1px solid rgba(255, 255, 255, 0.16);
        background-color: var(--white);

    }

    .dark .nombre-archivo button {
        border: 1px solid rgba(255, 255, 255, 0);
        background-color: var(--background-dar);
    }

    .materia,
    .datos-materia {
        padding: 3px;
    }

    .nombre-archivo svg {

        width: 13px;
        height: 13px;
    }

    .nombre-archivo-texto {
        display: none;
        visibility: hidden;
        border-radius: 0px;
        background-color: transparent;

    }

    .comentarios-profesor button,
    .comentarios-alumno button,
    .textoEstudiante button {
        font-size: 5px;
    }

    .textoProfesor textarea,
    .textoEstudiante textarea {
        font-size: 5px;
    }

    .comentarios-profesor,
    .comentarios-alumno {
        width: 49.7%;
    }
}