<body [ngClass]="currentMode ? 'dark' : ''">
  <section class="datos">
    <h2>SUBIR TRABAJOS</h2>
    <div class="periodoSelect">
      <label>SELECCIONAR:</label>
      <select id="periodoSelect" [(ngModel)]="periodoSeleccionado" name="periodoSelect" (change)="onPeriodoChange()">
        <option value="1">PERIODO 1</option>
        <option value="2">PERIODO 2</option>
        <option value="3">PERIODO 3</option>
      </select>
    </div>
  </section>

  <section class="subirArchivo">
    <table>
      <thead>
        <th>ASIGNATURA</th>
        <th>PROFESOR</th>
        <th>SELECCIONAR</th>
        <th>ENVIAR</th>
        <th>ARCHIVO</th>
      </thead>
      <tbody *ngFor="let trabajo of trabajos">
        <tr>
          <td class="datos-materia">{{ trabajo.materia }}</td>
          <td class="datos-materia">{{ trabajo.profesor }}</td>


          <td class="materia">
            <div class="input_container">
              <label id="labelArchivo-{{ trabajo.materia }}-{{ periodoSeleccionado }}"
                for="inputArchivo-{{ trabajo.materia }}-{{ periodoSeleccionado }}" class="btn">
                Seleccionar archivo</label>
              <input id="inputArchivo-{{ trabajo.materia }}-{{ periodoSeleccionado }}" class="file-input" type="file"
                (change)="handleFileInput(trabajo, periodoSeleccionado, $event)">
            </div>
          </td>

          <td class="materia">
            <button (click)="subirArchivo(trabajo, periodoSeleccionado)">Guardar</button>
          </td>
          <td class="materia">
            <ng-container *ngIf="archivosSubidos[trabajo.materia + '-' + periodoSeleccionado]; else noFiles">
              <!-- Modifica el botón del archivo en tu HTML -->
              <div class="nombre-archivo">
                <button (click)="descargarArchivo(trabajo, periodoSeleccionado)">
                  <span class="icono-archivo">
                    <svg width="15" height="15" home fill="none" stroke="#787878" stroke-linecap="round"
                      stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                      <path d="m7 10 5 5 5-5"></path>
                      <path d="M12 15V3"></path>
                    </svg>
                  </span>
                  <span class="nombre-archivo-texto">
                    {{ trabajo.periodos[periodoSeleccionado - 1].archivo?.name || 'Nombre del Archivo' }}
                  </span>
                </button>

                <a (click)="eliminarArchivo(trabajo, periodoSeleccionado)">
                  <svg width="16" height="16" home fill="none" stroke="#787878" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 6h18"></path>
                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                  </svg>
                </a>
              </div>
            </ng-container>
            <ng-template #noFiles>
              <p>Sin archivos</p>
            </ng-template>
          </td>
        </tr>
        <tr>
          <td class="comentarios" colspan="5">
            <div class="despleglar">
              <div class="comentarios-profesor">
                <button class="boton-con-icono" (click)="toggleRetroalimentacion(trabajo, periodoSeleccionado)">
                  <span>Retroalimentación</span>
                  <span class="icono">

                    <svg *ngIf="!mostrarIconoRetroalimentacion[trabajo.materia + '-' + periodoSeleccionado]" width="17"
                      height="17" home fill="none" stroke="#B6B6B6" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="m9 18 6-6-6-6"></path>
                    </svg>

                    <svg *ngIf="mostrarIconoRetroalimentacion[trabajo.materia + '-' + periodoSeleccionado]" width="17"
                      height="17" home fill="none" stroke="#B6B6B6" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="m6 9 6 6 6-6"></path>
                    </svg>

                  </span>
                </button>
                <div class="textoProfesor"
                  *ngIf="mostrarRetroalimentacion[trabajo.materia + '-' + periodoSeleccionado]">
                  <textarea [(ngModel)]="trabajo.periodos[periodoSeleccionado - 1].retroalimentacionDocente"
                    [readonly]="true" [disabled]="true"></textarea>
                </div>
              </div>

              <div class="comentarios-alumno">
                <button class="boton-con-icono" (click)="toggleComentarios(trabajo, periodoSeleccionado)">
                  <span>Comentarios del Alumno</span>
                  <span class="icono">

                    <svg *ngIf="!mostrarIconoEstudiante[trabajo.materia + '-' + periodoSeleccionado]" width="17"
                      height="17" home fill="none" stroke="#B6B6B6" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="m9 18 6-6-6-6"></path>
                    </svg>

                    <svg *ngIf="mostrarIconoEstudiante[trabajo.materia + '-' + periodoSeleccionado]" width="17"
                      height="17" home fill="none" stroke="#B6B6B6" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="m6 9 6 6 6-6"></path>
                    </svg>

                  </span>
                </button>

                <div class="textoEstudiante" *ngIf="mostrarComentarios[trabajo.materia + '-' + periodoSeleccionado]">
                  <textarea
                    [(ngModel)]="trabajo.periodos[periodoSeleccionado - 1].comentariosAlumno">Escribir comentario...</textarea>
                  <button (click)="subirComentario(trabajo, periodoSeleccionado)">Guardar comentario</button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <!-- <section>
    <div class="no-disponible">
      <p>Subir trabajos no disponible en este momento.</p>
      <button class="regresar-inicio" routerLink="/estudiantes/inicio">Regresar al Inicio</button>
  </div>
  </section> -->
  <br>

</body>