/* @media (min-width: 1600px) and (max-width: 1800px) {

    .semana {
      width: 120px;
    }
  }
  
  
  @media (min-width: 1400px) and (max-width: 1600px) {
    .semana {
      width: 110px;
    }
  } */

@media (min-width: 1200px) and (max-width: 1400px) {

    .datos h2,
    .periodoSelect,
    .periodoSelect option {
        font-size: 15px;
    }

    .periodoSelect select {
        font-size: 15px;
    }

    .subirArchivo table {
        font-size: 15px;
    }

    .materia button {
        font-size: 15px;
    }

    .input_container,
    .btn {
        width: 170px;
        font-size: 15px;
    }

    .nombre-archivo-texto,
    .materia button {
        width: 170px;
        font-size: 15px;
    }

    .comentarios-profesor button,
    .comentarios-alumno button,
    .textoEstudiante button {
        font-size: 13px;
    }

    .textoProfesor textarea,
    .textoEstudiante textarea {
        font-size: 13px;
    }

}

@media (min-width: 1000px) and (max-width: 1200px) {

    .datos h2,
    .periodoSelect,
    .periodoSelect option {
        font-size: 14px;
    }

    .periodoSelect select {
        font-size: 14px;
    }

    .subirArchivo table {
        font-size: 14px;
    }

    .materia button {
        font-size: 14px;
    }

    .input_container,
    .btn {
        width: 150px;
        font-size: 14px;
    }

    .nombre-archivo-texto,
    .materia button {
        width: 150px;
        font-size: 14px;
    }

    .comentarios-profesor button,
    .comentarios-alumno button,
    .textoEstudiante button {
        font-size: 12px;
    }

    .textoProfesor textarea,
    .textoEstudiante textarea {
        font-size: 12px;
    }

}

@media (min-width: 800px) and (max-width: 1000px) {

    .datos,
    .subirArchivo {
        width: 75%;
    }

    .datos h2,
    .periodoSelect,
    .periodoSelect option {
        font-size: 13px;
    }

    .periodoSelect select {
        font-size: 13px;
        width: 140px;
        height: 25px;
    }

    .subirArchivo table {
        font-size: 13px;
    }

    .materia button {
        font-size: 13px;
    }

    .input_container,
    .btn {
        width: 130px;
        font-size: 13px;
    }

    .nombre-archivo-texto,
    .materia button {
        width: 130px;
        font-size: 13px;
    }

    .comentarios-profesor button,
    .comentarios-alumno button,
    .textoEstudiante button {
        font-size: 11px;
    }

    .textoProfesor textarea,
    .textoEstudiante textarea {
        font-size: 11px;
    }
}

/* dsminuir borde  */

@media (min-width: 700px) and (max-width: 800px) {

    .datos,
    .subirArchivo {
        width: 80%;
        margin: 25px auto;
    }

    .datos h2,
    .periodoSelect,
    .periodoSelect option {
        font-size: 12px;
    }

    .periodoSelect select {
        font-size: 12px;
        width: 130px;
        height: 25px;
    }

    .subirArchivo table {
        font-size: 12px;
    }

    .materia button {
        font-size: 12px;
    }

    .input_container,
    .btn {
        width: 100px;
        font-size: 12px;
    }

    .nombre-archivo-texto,
    .materia button {
        width: 100px;
        font-size: 12px;
    }

    .comentarios-profesor button,
    .comentarios-alumno button,
    .textoEstudiante button {
        font-size: 10px;
    }

    .textoProfesor textarea,
    .textoEstudiante textarea {
        font-size: 10px;
    }
}



@media (min-width: 600px) and (max-width: 700px) {

    .datos,
    .subirArchivo {
        width: 85%;
        margin: 20px auto;
    }

    .datos h2,
    .periodoSelect,
    .periodoSelect option {
        font-size: 11px;
    }

    .periodoSelect select {
        font-size: 11px;
        width: 120px;
        height: 25px;
    }

    .subirArchivo table {
        font-size: 11px;
    }

    .materia button {
        font-size: 11px;
    }

    .input_container,
    .btn {
        width: 95px;
        font-size: 11px;
    }

    .nombre-archivo-texto,
    .materia button {
        width: 95px;
        font-size: 11px;
    }

    .comentarios-profesor button,
    .comentarios-alumno button,
    .textoEstudiante button {
        font-size: 9px;
    }

    .textoProfesor textarea,
    .textoEstudiante textarea {
        font-size: 9px;
    }
}


@media(min-width: 500px) and (max-width: 600px) {

    .datos,
    .subirArchivo {
        width: 90%;
        margin: 20px auto;
    }

    .datos h2,
    .periodoSelect,
    .periodoSelect option {
        font-size: 10px;
    }

    .periodoSelect select {
        font-size: 10px;
        width: 110px;
        height: 25px;
    }

    .subirArchivo table {
        font-size: 10px;
    }

    .materia button {
        font-size: 10px;
    }

    .input_container,
    .btn {
        width: 80px;
        font-size: 10px;
    }

    .nombre-archivo-texto,
    .materia button {
        width: 80px;
        font-size: 10px;
    }

    .comentarios-profesor button,
    .comentarios-alumno button,
    .textoEstudiante button {
        font-size: 10px;
    }

    .textoProfesor textarea,
    .textoEstudiante textarea {
        font-size: 10px;
    }
}

@media (min-width: 450px) and (max-width: 500px) {

    .datos,
    .subirArchivo {
        width: 90%;
        padding: 0px;
        margin: 20px auto;
    }

    .datos h2,
    .periodoSelect,
    .periodoSelect option {
        font-size: 9.5px;
    }

    .periodoSelect select {
        font-size: 9.5px;
        width: 60px;
        height: 25px;
        text-align: center;
    }

    .subirArchivo table {
        font-size: 9.5px;
    }

    .materia button {
        font-size: 9.5px;
    }

    .input_container,
    .btn {

        width: 70px;
        font-size: 9.5px;
    }


    .materia button {
        width: 60px;
        font-size: 9.5px;

    }

    .nombre-archivo {
        margin: auto;
        width: 12px;
        height: 12px;
        font-size: 9.5px;

    }

    .nombre-archivo button {
        border: 1px solid rgba(255, 255, 255, 0.16);
        background-color: var(--white);

    }

    .dark .nombre-archivo button {
        border: 1px solid rgba(255, 255, 255, 0);
        background-color: var(--background-dar);
    }

    .materia,
    .datos-materia {
        padding: 3px;
    }

    .nombre-archivo svg {

        width: 15px;
        height: 15px;
    }

    .nombre-archivo-texto {
        display: none;
        visibility: hidden;
        border-radius: 0px;
        background-color: transparent;

    }

    .comentarios-profesor button,
    .comentarios-alumno button,
    .textoEstudiante button {
        font-size: 9.5px;
    }

    .textoProfesor textarea,
    .textoEstudiante textarea {
        font-size: 9.5px;
    }

    .comentarios-profesor,
    .comentarios-alumno {
        width: 49.7%;
    }
}


@media (min-width: 400px) and (max-width: 450px) {

    .datos,
    .subirArchivo {
        width: 90%;
        padding: 0px;
        margin: 15px auto;
    }

    .datos h2,
    .periodoSelect,
    .periodoSelect option {
        font-size: 9px;
    }

    .periodoSelect select {
        font-size: 9px;
        width: 60px;
        height: 25px;
        text-align: center;
    }

    .subirArchivo table {
        font-size: 9px;
    }

    .materia button {
        font-size: 9px;
    }

    .input_container,
    .btn {

        width: 70px;
        font-size: 9px;
    }


    .materia button {
        width: 70px;
        font-size: 9px;

    }

    .nombre-archivo {
        margin: auto;
        width: 12px;
        height: 12px;
        font-size: 9px;

    }

    .nombre-archivo button {
        border: 1px solid rgba(255, 255, 255, 0.16);
        background-color: var(--white);

    }

    .dark .nombre-archivo button {
        border: 1px solid rgba(255, 255, 255, 0);
        background-color: var(--background-dar);
    }

    .materia,
    .datos-materia {
        padding: 3px;
    }

    .nombre-archivo svg {

        width: 15px;
        height: 15px;
    }

    .nombre-archivo-texto {
        display: none;
        visibility: hidden;
        border-radius: 0px;
        background-color: transparent;

    }

    .comentarios-profesor button,
    .comentarios-alumno button,
    .textoEstudiante button {
        font-size: 9px;
    }

    .textoProfesor textarea,
    .textoEstudiante textarea {
        font-size: 9px;
    }

    .comentarios-profesor,
    .comentarios-alumno {
        width: 49.7%;
    }

}

