.dark .subirArchivo table {
    background-color: var(--background-dark);
    color: var(--white);
}

.dark .subirArchivo th {
    background-color: var(--background-dark);
    color: var(--green);
}

.dark .subirArchivo td {
    background-color: var(--gray-graydark);
}

.dark .despleglar {
    background-color: var(--background-dark);
}

.dark .comentarios-profesor button,
.dark .comentarios-alumno button {
    background-color: var(--gray-graydark)
}

.dark .periodoSelect option {
    color: var(--white);
    background-color: var(--gray-graydark);
}

.dark .periodoSelect select {
    color: var(--white);
    border-bottom: 1px solid var(--white);
}

.dark .nombre-archivo button,
.dark .materia button {
    background-color: var(--background-dark);
    color: var(--white);
}

.dark .btn {
    background-color: var(--background-dark);
    color: var(--white);
}

.dark svg {
    stroke: var(--white);
}

.dark .nombre-archivo-texto {
    color: var(--white);
}

.dark .textoEstudiante button {
    color: var(--white);
}

.dark .textoProfesor textarea,
.dark .textoEstudiante textarea {
    background-color: var(--gray-graydark);
    border-top: 2px solid var(--background-dark);
    color: var(--white);
}

.dark .datos {
    background-color: var(--background-dark);
    color: var(--white);
    border: 10px solid var(--gray-graydark);
}


body {
    min-height: 93vh;
}

/* Estilos para la sección de datos */
.datos,
.subirArchivo {
    width: 70%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.datos {
    background-color: var(--white);
    padding: 10px;
    border: 10px solid var(--gray);
}


.datos h2,
.periodoSelect option {
    font-size: 16px;
}


.periodoSelect select {
    width: 150px;
    margin: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 1px solid var(--black);
    color: var(--black);
    background-color: transparent;
    height: 30px;
    text-align: center;
}

/* Estilos para el botón del archivo */
.nombre-archivo {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centra horizontalmente */

}

.nombre-archivo button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 3px;
    /* Centra el texto horizontalmente */
}

/* Ajustes adicionales si es necesario */
.nombre-archivo .icono-archivo {
    margin-right: 5px;
    /* Ajusta según sea necesario */
}

.nombre-archivo-texto {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    max-width: 150px;
    /* Ajusta según sea necesario */
    color: #787878;
}


.subirArchivo table {
    width: 100%;
    font-size: 16px;
    background-color: var(--gray);
    text-align: center;
}

.subirArchivo th {
    height: 40px;
    padding: 10px;
    background-color: var(--gray);
}

.materia,
.datos-materia {
    background-color: var(--white);
    width: 20%;
    padding: 5px;
}
.datos-materia{
    text-align: left;
}

/* Estilos para la sección de comentarios */
.despleglar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.comentarios-profesor,
.comentarios-alumno {
    width: 49.9%;
    height: 100%;
}

.comentarios-profesor button,
.comentarios-alumno button,
.textoEstudiante button {
    width: 100%;
    background-color: white;
    color: #B6B6B6;
    cursor: pointer;
    font-size: 14px;
}

.icono-archivo,
.boton-con-icono {
    display: flex;
    align-items: center;
    /* Centra el contenido verticalmente */
}

.boton-con-icono span,
.icono-archivo span {
    display: flex;
    align-items: center;
    /* Centra el contenido verticalmente */
    padding: 5px;
}

/* Estilos para el texto del profesor y estudiante */
.textoProfesor textarea,
.textoEstudiante textarea {
    display: flex;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    overflow-y: auto;
    border-top: 2px solid var(--gray);
    background-color: var(--white);
    padding: 5px;
    font-size: 14px;
}

/* Elimina el contorno al hacer foco en el textarea */
.textoProfesor textarea:focus,
.textoEstudiante textarea:focus {
    outline: none;
}

.textoEstudiante button {
    background-color: var(--white);
    height: 30px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.16);
    color: var(--black);
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 3px;
}

.textoEstudiante button:hover {
    background-color: var(--gray);
    color: var(--black);
}


.materia button {
    height: 30px;
    width: 180px;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.16);  
    border-radius: 4px;
    font-size: 16px;
}


.materia button:hover {
    background-color: var(--gray);
}



a {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 3px;
}

.label-container {
  width: 180px;
  height: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;

  transition: .5s;
}

.label-container:hover {
  background-color: var(--gray);
}

.file-input {
  display: none;
}

/* Estilo para el contenedor del botón y el input */
.input_container {
    width: 180px;
    height: 30px;
    margin: auto;
    white-space: nowrap; /* Evita el salto de línea dentro del contenedor */
  }
  
  /* Estilo para el botón que selecciona el archivo */
  .btn {
    display: inline-block; /* Mantiene la alineación horizontal */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 180px;
    height: 30px;
    border: 1px dashed rgba(0, 0, 0, 0.30);
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    line-height: 30px; /* Ajusta según sea necesario */

  }
  
  /* Puedes mantener los estilos hover si los necesitas */
  .btn:hover {
    background-color: #eee;
  }
  


/* no disponible */


.no-disponible{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  
  
  
  .no-disponible{
    width: 450px;
    height: 250px;
  }
  
  .no-disponible p{
    text-align: center;
    font-size: 18px;
  }
  .regresar-inicio{
      font-size: 16px;
      width: 200px;
      padding: 7px;
      background-color: var(--darkblue);
      color: var(--white);
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }
    .regresar-inicio:hover {
      background-color: var(--hoverbuuton);
    }
  
   .dark .no-disponible {background-color: var(--background-dark); color: var(--white);}
   .dark .regresar-inicio {background-color: var(--green);}
  
   @media (min-width: 800px) and (max-width: 1000px) {
      .no-disponible{
          width: 430px;
          height: 230px;
        }
        .no-disponible p{
          font-size: 17px;
        }
        .regresar-inicio{
          font-size: 15px;
          width: 190px;
          padding: 7px;
        }
   }
  
   @media (min-width: 600px) and (max-width: 800px) {
      .no-disponible{
          width: 390px;
          height: 200px;
        }
        .no-disponible p{
          font-size: 16px;
        }
        .regresar-inicio{
          font-size: 14px;
          width: 180px;
          padding: 7px;
        }
   }
  
   @media (min-width: 400px) and (max-width: 600px) {
      .no-disponible{
          width: 350px;
          height: 170px;
        }
        .no-disponible p{
          font-size: 15px;
        }
        
        .regresar-inicio{
          font-size: 13px;
          width: 170px;
          padding: 7px;
        }
   }  
  
   @media (min-width: 300px) and (max-width: 400px) {
      .no-disponible{
          width: 280px;
          height: 140px;
        }
        .no-disponible p{
          font-size: 14px;
        }
        
        .regresar-inicio{
          font-size: 12px;
          width: 150px;
          padding: 6px;
        }
   }
  
   @media (min-width: 200px) and (max-width: 300px) {
      .no-disponible{
          width: 240px;
          height: 140px;
        }
        .no-disponible p{
          font-size: 12px;
          text-align: center;
        }
        
        .regresar-inicio{
          font-size: 10px;
          width: 130px;
          padding: 5px;
        }
   }
  
