.dark{ background-color: var(--background-dark); }
.dark main .card{ background-color: var(--accent-dark); }
.dark main .card p{color: var(--white);}
.dark .card svg{fill: var(--white);}
.dark .card span{font-weight: 900; color: var(--green);}
.dark article h3{color: var(--white);}




body{
    min-height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section{
    width: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--white);
}
header{
    width: 100%;
    background-color: var(--darkblue);
    border-radius: 20px 20px 0 0;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
header svg{
    width: 50px;
    height: 50px;
    fill: var(--white);
}
header h3, header span{
    text-align: center;
    color: var(--white);
    margin-top: 5px;
}
header h3{font-size: 22.5px; letter-spacing: 1px;}
header span{font-size: 18px;}
main{
    width: 60%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}
.card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    /* background-color: var(--accent-light); */
}
.card svg{
    margin: 20px 0;
    width: 48px;
    height: 48px;
    fill: var(--black);
}
.card span{
    font-size: 18px;
    color: var(--green);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.card p{
    text-align: center;
    font-size: 18px;
    color: var(--black);
    margin-bottom: 20px;
}
article{
    width: 100%;
    padding: 0 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
article h3{
    color: var(--darkblue);
    text-align: center;
    font-size: 22.5px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.color-theme{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color-theme button{
    background-color: var(--darkblue);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
    padding: 2px 10px;
    border-radius: 5px;
}
.color-theme button svg{
    margin-right: 5px; 
    fill: var(--white);
    width: 25px;
    height: 25px;
}
.color-theme button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
