@media (min-width: 200px) and (max-width: 300px){
    body{min-height: 91vh;}
    section{ width: 90%;}
    header{padding: 10px;}
    header svg{width: 26px; height: 26px;}
    header h3 , article h3{font-size: 10px;}
    header span, .card p, .card span, .color-theme button p{font-size: 10px;}
    main{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px;
    }
    main{ width: 100%; grid-column-gap: 5px; grid-row-gap: 5px; }
    .card{min-width: 90%; width: 50%; padding: 0 20px;}
    .card svg{width: 13px; height: 13px; margin: 5px 0;}
    .card p{word-wrap: break-word; margin-bottom: 10px;}
    article h3, .color-theme, .card span {margin-bottom: 10px;}
}


/* @media (min-width: 300px) and (max-width: 400px){
    body{min-height: 90vh;}
    section{ width: 90%;}
    header{padding: 10px;}
    header svg{width: 24px; height: 24px;}
    header h3 , article h3{font-size: 10px;}
    header span, .card p, .card span, .color-theme button p{font-size: 11px;}
    main{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px;
    }
    main{ width: 100%; grid-column-gap: 5px; grid-row-gap: 5px; }
    .card{min-width: 90%; width: 50%; padding: 0 20px;}
    .card svg{width: 28px; height: 28px; margin: 10px 0;}
    .card p{word-wrap: break-word; margin-bottom: 10px;}
    article h3, .color-theme, .card span {margin-bottom: 10px;}
} */


@media (min-width: 300px) and (max-width: 400px){
    body{min-height: 91vh;}
    section{ width: 90%;}
    header{padding: 10px;}
    header svg{width: 26px; height: 26px;}
    header h3 , article h3{font-size: 10px;}
    header span, .card p, .card span, .color-theme button p{font-size: 12px;}
    main{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px;
    }
    main{ width: 100%; grid-column-gap: 5px; grid-row-gap: 5px; }
    .card{min-width: 90%; width: 50%; padding: 0 20px;}
    .card svg{width: 28px; height: 28px; margin: 10px 0;}
    .card p{word-wrap: break-word; margin-bottom: 10px;}
    article h3, .color-theme, .card span {margin-bottom: 10px;}
}

@media (min-width: 400px) and (max-width: 600px){
    body{padding: 20px 0;}
    section{ width: 90%; }
    header svg{width: 30px; height: 30px;}
    header h3 , article h3{font-size: 15px;}
    header span, .card p, .card span, .color-theme button p{font-size: 14px;}
    main{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    main{ width: 100%; grid-column-gap: 10px; grid-row-gap: 10px; }
    .card{min-width: 90%; width: 50%; padding: 0 20px;}
    .card svg{width: 32px; height: 32px; margin: 10px 0;}
    .card p{word-wrap: break-word; margin-bottom: 10px;}
    article h3, .color-theme, .card span {margin-bottom: 10px;}
}

@media (min-width: 600px) and (max-width: 800px){
    body{padding: 20px 0;}
    section{ width: 70%; }
    header svg{width: 48px; height: 48px;}
    header h3 , article h3{font-size: 20px;}
    header span, .card p, .card span, .color-theme button p{font-size: 16px;}
    main{ width: 100%; grid-column-gap: 20px; grid-row-gap: 20px; }
    .card svg{width: 32px; height: 32px; margin: 10px 0;}
    .card p{word-wrap: break-word; margin-bottom: 10px;}
    article h3, .color-theme, .card span {margin-bottom: 10px;}
}

@media (min-width: 800px) and (max-width: 1000px){
    section{ width: 60%; }
    header svg{width: 48px; height: 48px;}
    header h3 , article h3{font-size: 22.5px;}
    main{ width: 90%; grid-column-gap: 30px; grid-row-gap: 30px; }
    .card svg{width: 32px; height: 32px; margin: 10px 0;}
    .card p{word-wrap: break-word; margin-bottom: 10px;}
    article h3, .color-theme, .card span {margin-bottom: 10px;}
}

@media (min-width: 1000px) and (max-width: 1200px){
    section{ width: 60%; }
    header svg{width: 48px; height: 48px;}
    main{ width: 80%; }
    .card svg{width: 32px; height: 32px;}
    .card p{word-wrap: break-word;}
}
@media (min-width: 1200px) and (max-width: 1500px){
    main{width: 70%;}
}

@media  (min-width: 1000px) and (min-height: 700px)and (max-height: 900px){
    body{padding: 20px 0;}
    section{ width: 40%; }
    header svg{width: 48px; height: 48px;}
    header h3 , article h3{font-size: 20px;}
    header span, .card p, .card span, .color-theme button p{font-size: 16px;}
    main{ width: 100%; grid-column-gap: 20px; grid-row-gap: 20px; }
    .card svg{width: 32px; height: 32px; margin: 10px 0;}
    .card p{word-wrap: break-word; margin-bottom: 10px;}
    article h3, .color-theme, .card span {margin-bottom: 10px;}
}
