<body>
    <section [ngClass]="currentMode ? 'dark' : ''"  *ngIf="estudianteAutenticado">
        <header>
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.5 22.5h15v-3.75a5.256 5.256 0 0 0-5.25-5.25h-4.5a5.256 5.256 0 0 0-5.25 5.25v3.75Z"></path>
                <path d="M6.75 6.75a5.25 5.25 0 1 0 10.5 0 5.25 5.25 0 0 0-10.5 0Z"></path>
            </svg>
            <h3> {{ estudianteAutenticado.nombre }} </h3>
            <span> {{ estudianteAutenticado.carrera }}  </span>
        </header>
        <main>
            <div class="card">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.5 5.25H18V4.5A1.502 1.502 0 0 0 16.5 3h-9A1.502 1.502 0 0 0 6 4.5v.75H4.5A1.502 1.502 0 0 0 3 6.75V9a3.003 3.003 0 0 0 3 3h.242a6.126 6.126 0 0 0 5.008 4.45v3.05H7.5V21h9v-1.5h-3.75v-3.052A5.975 5.975 0 0 0 17.805 12H18a3.003 3.003 0 0 0 3-3V6.75a1.502 1.502 0 0 0-1.5-1.5ZM6 10.5A1.502 1.502 0 0 1 4.5 9V6.75H6v3.75Zm10.5 0a4.5 4.5 0 0 1-4.64 4.498A4.65 4.65 0 0 1 7.5 10.28V4.5h9v6Zm3-1.5a1.502 1.502 0 0 1-1.5 1.5V6.75h1.5V9Z"></path>
                </svg>
                <span>8.26 </span>
                <p>Promedio general</p>
            </div>
            <div class="card">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.5 3h-3V1.5H15V3H9V1.5H7.5V3h-3A1.502 1.502 0 0 0 3 4.5v15A1.502 1.502 0 0 0 4.5 21h15a1.502 1.502 0 0 0 1.5-1.5v-15A1.502 1.502 0 0 0 19.5 3Zm-15 1.5h3V6H9V4.5h6V6h1.5V4.5h3v3h-15v-3Zm0 4.5h3.75v4.5H4.5V9Zm9.75 10.5h-4.5V15h4.5v4.5Zm0-6h-4.5V9h4.5v4.5Zm1.5 6V15h3.75v4.5h-3.75Z"></path>
                </svg>
                <span> {{estudianteAutenticado.semestre}} </span>
                <p>Semestre</p>
            </div>
            <div class="card">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.5 22.5H6v-2.25H3v2.25H1.5v-2.25a1.502 1.502 0 0 1 1.5-1.5h3a1.502 1.502 0 0 1 1.5 1.5v2.25Z"></path>
                    <path d="M22.5 22.5H21v-2.25h-3v2.25h-1.5v-2.25a1.502 1.502 0 0 1 1.5-1.5h3a1.502 1.502 0 0 1 1.5 1.5v2.25Z"></path>
                    <path d="M15 22.5h-1.5v-2.25h-3v2.25H9v-2.25a1.502 1.502 0 0 1 1.5-1.5h3a1.502 1.502 0 0 1 1.5 1.5v2.25Z"></path>
                    <path d="M12 18a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
                    <path d="M4.5 18a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
                    <path d="M19.5 18a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
                    <path d="M15.75 15a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
                    <path d="M8.25 15a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
                    <path d="M19.5 10.5h-15A1.502 1.502 0 0 1 3 9V3a1.502 1.502 0 0 1 1.5-1.5h15A1.502 1.502 0 0 1 21 3v6a1.502 1.502 0 0 1-1.5 1.5ZM4.5 3v6h15V3h-15Z"></path>
                </svg>
                <span> {{estudianteAutenticado.grupo}} </span>
                <p>Grupo</p>
            </div>
            <div class="card">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 4.5v15H3v-15h18ZM21 3H3a1.5 1.5 0 0 0-1.5 1.5v15A1.5 1.5 0 0 0 3 21h18a1.5 1.5 0 0 0 1.5-1.5v-15A1.5 1.5 0 0 0 21 3Z"></path>
                    <path d="M9.75 7.5H4.5V9h5.25V7.5Z"></path>
                    <path d="M7.5 10.5h-3V12h3v-1.5Z"></path>
                    <path d="M17.25 13.5h-4.5a2.25 2.25 0 0 0-2.25 2.25v1.5H12v-1.5a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 .75.75v1.5h1.5v-1.5a2.25 2.25 0 0 0-2.25-2.25Z"></path>
                    <path d="M15 12.75a3 3 0 1 0 0-5.999 3 3 0 0 0 0 5.999Zm0-4.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"></path>
                </svg>
                <span> {{ estudianteAutenticado.nocontrol }}  </span>
                <p>Numero de control</p>
            </div>
        </main>
        <article>
            <h3>Ajustes</h3>

            <div class="color-theme">
                <button (click)="toggleColors()" *ngIf="!currentMode">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.127 4.06a11.306 11.306 0 0 0 8.695 13.646 8.335 8.335 0 0 1-5.981 2.542c-.104 0-.209.004-.313 0a8.32 8.32 0 0 1-2.4-16.188Zm1.108-1.81a.753.753 0 0 0-.13.012 9.822 9.822 0 0 0 1.368 19.486c.123.005.246 0 .368 0a9.805 9.805 0 0 0 8.026-4.167.757.757 0 0 0-.587-1.173 9.81 9.81 0 0 1-8.363-13.123.76.76 0 0 0-.682-1.035Z"></path>
                    </svg>
                    <p>Modo oscuro</p>
                </button>

                <button (click)="toggleColors()" *ngIf="currentMode">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 9a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0-1.5a4.5 4.5 0 1 0 0 9 4.5 4.5 0 0 0 0-9Z"></path>
                        <path d="m5.105 4.049-1.06 1.06 2.63 2.63 1.06-1.06-2.63-2.63Z"></path>
                        <path d="M5.25 11.25H1.5v1.5h3.75v-1.5Z"></path>
                        <path d="m6.674 16.27-2.63 2.628 1.061 1.061 2.63-2.63-1.06-1.06Z"></path>
                        <path d="M12.75 18.75h-1.5v3.75h1.5v-3.75Z"></path>
                        <path d="m17.325 16.268-1.06 1.06 2.629 2.63 1.06-1.061-2.629-2.63Z"></path>
                        <path d="M22.5 11.25h-3.75v1.5h3.75v-1.5Z"></path>
                        <path d="m18.894 4.05-2.63 2.63 1.061 1.06 2.63-2.63-1.061-1.06Z"></path>
                        <path d="M12.75 1.5h-1.5v3.75h1.5V1.5Z"></path>
                    </svg>
                    <p>Modo claro</p>
                </button>
            </div>
        </article>
    </section>
</body>

