@media (min-width: 150px) and (max-width: 400px){
    header{height: 70px;}
    nav img{width: 40px; height: 40px;}
    ul li svg{width: 24px; height: 24px; margin: 0;}
    ul li a{display: none;}
}

@media (min-width: 400px) and (max-width: 650px){
    nav img{width: 60px; height: 60px;}
    ul li svg{width: 28px; height: 28px;}
    ul li a{font-size: 14px;}
    ul li a{display: none;}
}

@media (min-width: 650px) and (max-width: 800px){
    nav img{width: 60px; height: 60px;}
    ul li svg{width: 28px; height: 28px;}
    ul li a{font-size: 16px;}
}

@media (min-width: 800px) and (max-width: 1000px){
    nav img{width: 60px; height: 60px;}
    ul li svg{width: 28px; height: 28px;}
    ul li a{font-size: 16px;}
}