header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--darkblue);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -10px -10px 20px rgba(0, 0, 0, 0.2);
}
nav{
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav img{width: 70px; height: 70px;}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
ul li{
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    flex-direction: row;
}
ul li svg{
    width: 32px;
    height: 32px;
    fill: var(--white);
    animation: bounce;
    animation-duration: 0.75s;
}
ul li a{
    text-decoration: none;
    font-size: 18px;
    color: var(--white);
    margin-left: 5px;
}
ul li:hover{ cursor: pointer; transform: scale(1.05);}
ul .active-menu a{color: var(--green);}
ul .active-menu svg{fill: var(--green);}

