:root {

  /* dark mode */
  --background-dark: #2A2C33;
  --accent-dark: #1c1e25;
  --gray-graydark: rgb(55, 57, 63);

  /* background */
  --background-light: #ffffff;

  --accent-light: #fcfcfc;

  /* body */
  --black: #0d0d0d;
  --gray: #f1f1f1;
  --gray-dark: #e9e9e9;
  --white: #ffffff;
  --darkblue: #0D142E;
  --green: #64AA2E;
  --hoverbuuton: rgb(41, 44, 58);
  --red: #911212;
  --yellow: #F2CC0F; 
  
}


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}



.swal2-popup.custom-swal-container,
.swal2-popup.custom-swal-container-dark {
  width: 300px !important;
  height: 300px !important;
  background-color: var(--white) !important;
}

.swal2-title.custom-swal-title,
.swal2-title.custom-swal-title-dark {
  font-size: 16px !important;
}

.swal2-content.custom-swal-content,
.swal2-content.custom-swal-content-dark {
  font-size: 14px !important;
}

.swal2-actions.custom-swal-actions,
.swal2-confirm.custom-swal-confirm-button,
.swal2-cancel.custom-swal-cancel-button,
.swal2-actions.custom-swal-actions-dark,
.swal2-confirm.custom-swal-confirm-button-dark,
.swal2-cancel.custom-swal-cancel-button-dark {
  font-size: 14px !important;
}

.swal2-confirm.custom-swal-confirm-button,
.swal2-confirm.custom-swal-confirm-button-dark {
  border: none !important;
  box-shadow: none !important;
}

.swal2-confirm.custom-swal-confirm-button {
  background-color: var(--darkblue) !important;
  color: var(--white) !important;
}

.swal2-cancel.custom-swal-cancel-button {
  background-color: var(--red) !important;
  color: var(--white) !important;
}


/* Estilos oscuros para las alertas */
.custom-swal-container-dark,
.swal2-popup.custom-swal-container-dark {
  background-color: var(--background-dark) !important;
  color: var(--white) !important;
}

.custom-swal-actions-dark,
.custom-swal-confirm-button-dark,
.custom-swal-cancel-button-dark,
.swal2-actions.custom-swal-actions-dark,
.swal2-confirm.custom-swal-confirm-button-dark,
.swal2-cancel.custom-swal-cancel-button-dark {
  color: var(--dark-text) !important;
}

.swal2-confirm.custom-swal-confirm-button-dark {
  background-color: var(--green) !important;
  color: var(--white) !important;
}

.swal2-cancel.custom-swal-cancel-button-dark {
  background-color: var(--red) !important;
  color: var(--white) !important;
}


@media (min-width: 300px) and (max-width: 800px) {

  .custom-swal-icon {
    font-size: 10px; 
   
  }

  .swal2-popup.custom-swal-container,
  .swal2-popup.custom-swal-container-dark {
    width: 200px !important;
    height: 200px !important;
    background-color: var(--white) !important;
  }
  
  .swal2-title.custom-swal-title,
  .swal2-title.custom-swal-title-dark {
    font-size: 10px !important;
  }
  
  .swal2-content.custom-swal-content,
  .swal2-content.custom-swal-content-dark {
    font-size: 9px !important;
  }
  
  .swal2-actions.custom-swal-actions,
  .swal2-confirm.custom-swal-confirm-button,
  .swal2-cancel.custom-swal-cancel-button,
  .swal2-actions.custom-swal-actions-dark,
  .swal2-confirm.custom-swal-confirm-button-dark,
  .swal2-cancel.custom-swal-cancel-button-dark {
    font-size: 11px !important;
  }
  /* Estilos oscuros para las alertas */
.custom-swal-container-dark,
.swal2-popup.custom-swal-container-dark {
  background-color: var(--background-dark) !important;
  color: var(--white) !important;
}

.custom-swal-actions-dark,
.custom-swal-confirm-button-dark,
.custom-swal-cancel-button-dark,
.swal2-actions.custom-swal-actions-dark,
.swal2-confirm.custom-swal-confirm-button-dark,
.swal2-cancel.custom-swal-cancel-button-dark {
  color: var(--dark-text) !important;
}

.swal2-confirm.custom-swal-confirm-button-dark {
  background-color: var(--green) !important;
  color: var(--white) !important;
}

.swal2-cancel.custom-swal-cancel-button-dark {
  background-color: var(--red) !important;
  color: var(--white) !important;
}

}
