@media (min-width: 500px) and (max-width: 600px) {
    .evaldocente {
        margin: 30px auto;
        width: 90%;
    }

    .bienvenida h2,
    .no-disponible h2 {
        font-size: 12px;
    }

    .bienvenida p,
    .no-disponible p {
        text-align: justify;
        font-size: 12px;
    }

    .eval-terminada p {
        text-align: center;
        font-size: 11px;
    }

    .bienvenida button,
    .no-disponible button,
    .eval-terminada button {
        font-size: 10px;
    }

    .titulo-pregunta {
        font-size: 10px;
    }

    .instrucciones {
        font-size: 10px;
    }

    .botones-evaluacion button {
        font-size: 10px;
    }

    .evaldocente table {
        font-size: 10px;
    }

    .bienvenida {
        width: 400px;
        height: 400px;
    }

    .no-disponible,
    .eval-terminada {
        width: 400px;
        height: 200px;
    }

    .radio {
        width: 50px;
    }

    .profesor {
        font-size: 7px;
    }
    .botones-evaluacion button {
        text-align: center;
        width: 100%;
        margin: 5px 0px 5px 0px;
        padding: 10px;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
        .evaldocente {
        margin: 20px auto;
        width: 95%;
    }

    .bienvenida h2,
    .no-disponible h2 {
        font-size: 11px;
    }

    .bienvenida p,
    .no-disponible p {
        text-align: justify;
        font-size: 11px;
    }

    .eval-terminada p {
        text-align: center;
        font-size: 10px;
    }

    .bienvenida button,
    .no-disponible button,
    .eval-terminada button {
        font-size: 9px;
    }

    .titulo-pregunta {
        font-size: 9px;
    }

    .instrucciones {
        font-size: 9px;
        margin: 15px 0px;
    }

    .botones-evaluacion button {
        font-size: 9px;
    }

    .evaldocente table {
        font-size: 9px;
    }

    .bienvenida {
        width: 370px;
        height: 370px;
    }

    .no-disponible,
    .eval-terminada {
        width: 370px;
        height: 170px;
    }

    .radio {
        width: 40px;
    }

    .profesor {
        font-size: 6px;
    }
    .botones-evaluacion button {
        text-align: center;
        width: 100%;
        margin: 5px 0px 5px 0px;
        padding: 10px;
    }
}

@media (min-width: 350px) and (max-width: 400px) {
    .evaldocente {
        margin: 15px auto;
        width: 95%;
    }

    .bienvenida h2,
    .no-disponible h2 {
        font-size: 12px;
    }

    .bienvenida p,
    .no-disponible p {
        text-align: justify;
        font-size: 12px;
    }

    .eval-terminada p {
        text-align: center;
        font-size: 11px;
    }

    .bienvenida button,
    .no-disponible button,
    .eval-terminada button {
        font-size: 10px;
    }

    .titulo-pregunta {
        font-size: 9px;
    }

    .instrucciones {
        font-size: 9px;
        margin: 10px 0px;
    }

    .botones-evaluacion button {
        font-size: 9px;
    }

    .evaldocente table {
        font-size: 8px;
    }

    .evaldocente td {
        height: 60px;
      }

    .bienvenida {
        width: 330px;
        height: 330px;
    }

    .no-disponible,
    .eval-terminada {
        width: 330px;
        height: 150px;
    }

    .radio {
        width: 30px;
    }

    .profesor {
        font-size: 6px;
    }
    .botones-evaluacion button {
        text-align: center;
        width: 100%;
        margin: 5px 0px 5px 0px;
        padding: 10px;
    }
}

@media (min-width: 300px) and (max-width: 350px) {
    .evaldocente {
        margin: 15px auto;
        width: 97%;
    }

    .bienvenida h2,
    .no-disponible h2 {
        font-size: 11px;
    }

    .bienvenida p,
    .no-disponible p {
        text-align: justify;
        font-size: 11px;
    }

    .eval-terminada p {
        text-align: center;
        font-size: 10px;
    }

    .bienvenida button,
    .no-disponible button,
    .eval-terminada button {
        font-size: 9px;
    }

    .titulo-pregunta {
        font-size: 9px;
    }

    .instrucciones {
        font-size: 9px;
        margin: 10px 0px;
    }

    .botones-evaluacion button {
        font-size: 9px;
    }

    .evaldocente table {
        font-size: 7px;
    }

    .evaldocente td {
        height: 40px;
      }

    .bienvenida {
        width: 280px;
        height: 280px;
    }

    .no-disponible,
    .eval-terminada {
        width: 270px;
        height: 150px;
    }

    .radio {
        width: 30px;
    }

    .profesor {
        font-size: 6px;
    }
    .botones-evaluacion button {
        text-align: center;
        width: 100%;
        margin: 5px 0px 5px 0px;
        padding: 10px;
    }
}

@media (min-width: 250px) and (max-width: 300px) {
    .evaldocente {
        margin: 5px auto;
        width: 97%;
    }

    .bienvenida h2,
    .no-disponible h2 {
        font-size: 10px;
    }

    .bienvenida p,
    .no-disponible p {
        text-align: justify;
        font-size: 10px;
    }

    .eval-terminada p {
        text-align: center;
        font-size: 10px;
    }

    .bienvenida button,
    .no-disponible button,
    .eval-terminada button {
        font-size: 7px;
    }

    .titulo-pregunta {
        font-size: 7px;
    }

    .instrucciones {
        margin: 5px 0px;
        font-size: 7px;
    }

    .botones-evaluacion button {
        font-size: 7px;
    }

    .evaldocente table {
        font-size: 6px;
    }

    .bienvenida {
        width: 250px;
        height: 250px;
    }

    .no-disponible,
    .eval-terminada {
        width: 250px;
        height: 120px;
    }

    .radio {
        width: 30px;
    }

    .profesor {
        font-size: 6px;
    }
    .botones-evaluacion button {
        text-align: center;
        width: 100%;
        margin: 5px 0px 5px 0px;
        padding: 10px;
    }
}