<!-- evaldocente.component.html -->

<body [ngClass]="currentMode ? 'dark' : ''">
  <div *ngIf="!evaluacionTerminada">
    <ng-container *ngIf="preguntas.length > 0; else noPreguntas">
      <div class="evaldocente" *ngIf="mostrarInstrucciones">
        <h2 class="titulo-pregunta">INSTRUCCIONES</h2>
 
        <p class="instrucciones">A continuación se presentan una serie de preguntas en relación a las actividades que
          realiza tu profesor(a). Lee cuidadosamente cada una de ellas y da un clic a la opción de respuesta que
          corresponda a tu opinión sobre su desempeño.</p>
    
        <table class="pregunta-table">
          <thead>
            <tr>
              <th class="pregunta" colspan="1">Pregunta {{ preguntaActual + 1 }}: {{ preguntas[preguntaActual].texto }}
              </th>
              <th>Muy bueno</th>
              <th>Bueno</th>
              <th>Regular</th>
              <th>Malo</th>
              <th>Muy malo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let materia of preguntas[preguntaActual].materias">
              <td>
                <span class="materia">{{ materia.nombre }}</span><br>
                <span class="profesor">{{ materia.profesor }}</span>
              </td>
              <td class="radio">
                <input type="radio" [id]="getRadioId(preguntaActual, materia)"[name]="getRadioName(preguntaActual, materia)" value="Muy bueno"(change)="seleccionarRespuesta(materia, 'Muy bueno')" />
              </td>
              <td class="radio">
                <input type="radio" [id]="getRadioId(preguntaActual, materia)"[name]="getRadioName(preguntaActual, materia)" value="Bueno"(change)="seleccionarRespuesta(materia, 'Bueno')" />
              </td>
              <td class="radio">
                <input type="radio" [id]="getRadioId(preguntaActual, materia)" [name]="getRadioName(preguntaActual, materia)" value="Regular"(change)="seleccionarRespuesta(materia, 'Regular')" />
              </td>
              <td class="radio">
                <input type="radio" [id]="getRadioId(preguntaActual, materia)" [name]="getRadioName(preguntaActual, materia)" value="Malo"(change)="seleccionarRespuesta(materia, 'Malo')" />
              </td>
              <td class="radio">
                <input type="radio" [id]="getRadioId(preguntaActual, materia)"[name]="getRadioName(preguntaActual, materia)" value="Muy malo"(change)="seleccionarRespuesta(materia, 'Muy malo')" />
              </td>
            </tr>
          </tbody>
        </table>
        <div class="botones-evaluacion">
          <button (click)="cambiarPregunta()" *ngIf="preguntaActual < preguntas.length - 1">Siguiente Pregunta</button>
          <button (click)="finalizarEvaluacion()" *ngIf="preguntaActual === preguntas.length - 1">Finalizar</button>
          <button (click)="cancelarEvaluacion()">Cancelar</button>
        </div>
      </div>

      <div class="bienvenida" *ngIf="!mostrarInstrucciones">
        <h2>¡Bienvenido a la Evaluación Docente!</h2>
        <p>Antes de comenzar, por favor, responde con sinceridad. Tus comentarios son valiosos para mejorar la calidad
          educativa.</p>
        <button (click)="iniciarEvaluacion()">Comenzar</button>
      </div>
    </ng-container>
    <ng-template #noPreguntas>
      <div class="no-disponible">
        <p>Evaluacion docente no disponible en este momento.</p>
        <button routerLink="/estudiantes/inicio">Regresar al Inicio</button>
      </div>
    </ng-template>
  </div>

  <div *ngIf="evaluacionTerminada" class="eval-terminada">
    <p>Evaluación docente terminada correctamente.</p>
    <p>¡Gracias por participar!</p>
    <button routerLink="/estudiantes/inicio">Regresar al Inicio</button>
  </div>
  <br>
</body>
